
<%= nested_form_for @proyecto, validate: true do |inv | %>
    <div id="marco">
        <div class="row">            
                <%= inv.label :Núm_de_proyecto, class: 'col-md-4' %>
                <%= inv.label :Nombre_proyecto, class: 'col-md-4' %>
                <%= inv.label :Categoria, class: "col-md-4" %>
        <div class="row">
            <div class="col-md-4">
                <%= inv.text_field :numProyecto, class: 'form-control',  validate: true %>                
            </div>
            <div class="col-md-4">
                <%= inv.text_field :nombreProyecto, class: "form-control", validate: true %>                
            </div>
            <div class="col-md-4"><%= inv.select :cat_tipo_examen_proyecto_id, options_for_select([["Residencia profesional", 1]]), {}, class: "form-control", validate: true%></div>
        </div>
        <div class="row">
            <%= inv.label :Periodo, class: "col-md-4" %>
            <%= inv.label :Fecha_inicio, class: "col-md-4" %>
            <%= inv.label :Fecha_término, class: "col-md-4" %>
        </div>
        <div class="row">
            <div class="col-md-4">
                <% t = Time.now %><% @anio = t.strftime("%Y") %>
                 <%= inv.select :periodo, options_for_select([["FEBRERO-JUNIO/"+@anio.to_s, "FEBRERO-JUNIO/"+@anio.to_s], ["AGOSTO-DICIEMBRE/"+@anio.to_s, "AGOSTO-DICIEMBRE/"+@anio.to_s ]]), {}, class: "form-control" %>
            </div>
            <div class="col-md-4"> <%= inv.date_field :fechaInicio, class: "form-control", validate: true %></div>
            <div class="col-md-4"> <%= inv.date_field :fechaTermino, class: "form-control", validate: true %></div>
        </div>
        <div class="row">
            <%= inv.label :Asesor_externo, class: 'col-md-4' %>
            <%= inv.label :Empresa, class: 'col-md-4'%>
            <%= inv.label :Status, class: 'col-md-4' %>
        </div>   
        <div class="row">
            <div class="col-md-4"><%= inv.text_field :asesorExterno, class: "form-control", validate: true %></div>
            <div class="col-md-4"><%= inv.select :rfcEmpresa, Empresa.all.map { |u| [u.nombreE, u.rfcEmpresa] }, { include_blank: true },{ class: ' chosen-select'} %> </div>
            <div class="col-md-4"><%= inv.select :status, options_for_select([["En proceso", "En proceso"], ["Cancelado", "Cancelado"], ["Finalizado", "Finalizado"]]),{},class: "form-control", validate: true %></div>
        </div>
        
        <div class="row">
            <div class="col-md-2"><%= inv.label :Descripción %></div>
            <div class="col-md-9"><%= inv.text_area :descripcion, class: "form-control", validate: true %></div>
        </div>
    </div>
    <fieldset id="poryectoestudiante">
        <div id="marco">
            <h5><strong>Agregar estudiantes</strong></h5>
            <%= inv.fields_for :proyecto_estudiantes, validate: true do |proyes| %>
                <div class="row">
                    <div class="col-md-2"><%= proyes.label :Núm_de_control%></div>
                    <div class="col-md-4">
                        <%= proyes.select :numControl, Estudiante.all.map { |u| [u.nombre + " " + u.apPaterno + " " + u.apMaterno, u.numControl] }, { include_blank: true },{ class: ' chosen-select'} %></div>
                    <div class="col-xs-6 col-sm-1">
                        <%= proyes.link_to_remove do %><span class="glyphicon glyphicon-trash red"></span><% end %></div>
                </div>
            <% end %>           
            <div class="row"><%= inv.link_to_add :proyecto_estudiantes, title: "Agregar " do %><span class="glyphicon glyphicon-plus blue"></span><% end %></div>
        </div>
    </fieldset>

    <fieldset id="actividad">
        <h5 id="align-title"><b>Participantes</b></h5>
        <%= inv.fields_for :proyecto_docentes, validate: true do |actdoc| %>
                <div class="row">
                    <%= actdoc.label :Docente, class: "col-md-5" %>
                    <%= actdoc.label :Tipo_participación, class: "col-md-6" %>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <%= actdoc.select :docente_id, Docente.all.collect{ |p| [ p.nombreD + " " + p.apPaterno + " " + p.apMaterno, p.id ] }, {include_blank: 'Seleccione...'}, class: "form-control", validate: true %>
                    </div>
                    <div class="col-md-6">                        
                        <%= actdoc.select :cat_tipo_participacion_id, options_for_select([["Asesor interno", 6], ["Revisor 1", 7], ["Revisor 2", 8], ["Revisor 3", 9]]), {include_blank: 'Seleccione...'}, class: "form-control", validate: true %>
                    </div>
                    <div class="col-xs-6 col-sm-1">                        
                        <%= inv.link_to_remove '', data: {confirm: "Eliminará al docente del proyecto"}, class: "glyphicon glyphicon-trash red"%>
                    </div>
                </div>
                <fieldset id="proyecto-docente-evidencia">
                    <%= actdoc.fields_for :proyecto_docente_evidencias, validate: true do |evi| %>
                        <div class="row">
                            <%= evi.label :Etiqueta, class: "col-md-5" %>
                            <%= evi.label :Pdf_evidencia, class: "col-xs-6" %>
                        </div>
                        <div class="row">
                            <div class="col-md-5"><%= evi.text_field :etiqueta, validate: true %></div>
                            <div class="col-md-6"><%= evi.file_field :pdfEvidencia, validate: true %></div>
                            <div class="col-md-1"><%= actdoc.link_to_remove '', data: {confirm: "Eliminará la evidencia del proyecto"}, class: "glyphicon glyphicon-trash red"%></div>
                        </div>
                    <% end %>
					<% if current_usuario.rol == 'docente' %>
                    	<p><%= actdoc.link_to_add "Agregar evidencia", :proyecto_docente_evidencias %></p>
					<% end %>
                </fieldset>
            <% end %>
            <p><%= inv.link_to_add "Agregar participante", :proyecto_docentes %></p>
    </fieldset>
    <div class="row" id="btn-cancelar">
        <div class="col-xs-6 col-md-4" id="btn">
            <%= inv.submit :Guardar, :class => 'btn btn-success' %>
        </div> 
<% end %>
        <div class="col-xs-6 col-md-4">
            <%= button_to "Cancelar", proyectos_path, :class => 'btn btn-warning', :method => :get %>
        </div>
    </div>
