<div>
	<% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
</div>
<div class="container">    
    <h3 id="align-title">Configuraciones</h3>
    <div class="row">
        <div class="col-sm-1" id="margen">
            <%= button_to new_firma_path, :class => "btn btn-primary", title: "Nuevo", :method => :get do %>
                <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        </div>
        <div class="col-md-11">
            <div id="table-responsive">
                <table class="table table-sm">
                    <thead>                
                        <th class="info">Cargo</th>
                        <th class="info">Titular</th>
                        <th class="info">Acción</th>
                    </thead>
                    <% @firmas.each do |firma| %>
                        <tbody>                    
                            <td class="active"><%= firma.cargo %></td>
                            <td class="active"><%= firma.titular %></td>                         
                            <td class="active">
                                <%= link_to edit_firma_path(firma), :title => "Editar" do%>
                                    <span class="glyphicon glyphicon-pencil green"></span>
                                <% end %>
                            </td>  
                        </tbody>
                        <% end %>
                </table>
            </div>
        </div>
    </div>
</div>