<p id="notice"><%= notice %></p>

<p>
  <strong>Habilidad:</strong>
  <%= @competencias_empresa.habilidad %>
</p>

<p>
  <strong>Orotografia:</strong>
  <%= @competencias_empresa.orotografia %>
</p>

<p>
  <strong>Mejora procesos:</strong>
  <%= @competencias_empresa.mejora_procesos %>
</p>

<p>
  <strong>Trabajo equipo:</strong>
  <%= @competencias_empresa.trabajo_equipo %>
</p>

<p>
  <strong>Habilidad tiempo:</strong>
  <%= @competencias_empresa.habilidad_tiempo %>
</p>

<p>
  <strong>Seguridad personal:</strong>
  <%= @competencias_empresa.seguridad_personal %>
</p>

<p>
  <strong>Facilidad palabra:</strong>
  <%= @competencias_empresa.facilidad_palabra %>
</p>

<p>
  <strong>Gestion proyecto:</strong>
  <%= @competencias_empresa.gestion_proyecto %>
</p>

<p>
  <strong>Puntualidad:</strong>
  <%= @competencias_empresa.puntualidad %>
</p>

<p>
  <strong>Cumplimiento:</strong>
  <%= @competencias_empresa.cumplimiento %>
</p>

<p>
  <strong>Integracion:</strong>
  <%= @competencias_empresa.integracion %>
</p>

<p>
  <strong>Creatividad:</strong>
  <%= @competencias_empresa.creatividad %>
</p>

<p>
  <strong>Liderazgo:</strong>
  <%= @competencias_empresa.liderazgo %>
</p>

<p>
  <strong>Adaptacion cambios:</strong>
  <%= @competencias_empresa.adaptacion_cambios %>
</p>

<p>
  <strong>Exelente:</strong>
  <%= @competencias_empresa.exelente %>
</p>

<p>
  <strong>Muy bueno:</strong>
  <%= @competencias_empresa.muy_bueno %>
</p>

<p>
  <strong>Bueno:</strong>
  <%= @competencias_empresa.bueno %>
</p>

<p>
  <strong>Regular:</strong>
  <%= @competencias_empresa.regular %>
</p>

<p>
  <strong>Malo:</strong>
  <%= @competencias_empresa.malo %>
</p>

<p>
  <strong>Sugerencia mejora:</strong>
  <%= @competencias_empresa.sugerencia_mejora %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @competencias_empresa.comentario %>
</p>

<%= link_to 'Edit', edit_competencias_empresa_path(@competencias_empresa) %> |
<%= link_to 'Back', competencias_empresas_path %>
