<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
    
  <% breadcrumb :banco_proyectos, @banco_proyecto %>
  
  <h3 id="align-title">Proyecto de Residencia en Banco</h3>
    
  <div id="marco">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="proyecto">Datos del Proyecto</button>
          <% if current_usuario.rol == 'docente' %>
            <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="residente">Solicitudes del Proyecto</button>
          <% else %>
            <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="residente">Solicitar Proyecto</button>
          <% end %>
          <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="docent">Observaciones</button>
        </div>
      </div>
        
      <div class="col-xs-6 col-sm-10">
        <div id="proyectoG" style="display:block;">
          <h5 id="align-title"><b>Datos del Proyecto</b></h5>
          <div id="marco">
            <div class="row">
              <div class="col-xs-6 col-sm-12" align="justify"><b>Nombre del proyecto: </b>
                <%= @banco_proyecto.nombre_proyecto_b%></div>
            </div>
            
            <div class="row">
              <% @empresa = Empresa.where(:rfcEmpresa => @banco_proyecto.fk_rfc_emp_inst).first %>
              <div class="col-xs-6 col-sm-12" align="justify"><b>Nombre de la Empresa: </b><%= @empresa.nombreE %></div>
            </div>
            
            </br>
            </br>
            <div class="row">
              <div class="col-xs-6 col-sm-5"><b>Fecha de inicio: </b><%= @banco_proyecto.fecha_inicio_proyecto_b %></div>
              <div class="col-xs-6 col-sm-4"><b>Fecha de término: </b><%= @banco_proyecto.fecha_termino_proyecto_b %></div>
            </div>
            
            </br>
            <div class="row">
              <div class="col-xs-6 col-sm-5"><b>Número de residentes: </b><%= @banco_proyecto.num_residentes %></div>
            </div>
            
            </br>
            <div class="row">
              <div class="col-xs-6 col-sm-12" align="justify"><b>Descripción del proyecto: </b><%= @banco_proyecto.descrip_proyecto_b %></div>
            </div>
            
            </br>
            <div class="row">
              <div class="col-xs-6 col-sm-12" align="justify"><b>Objetivo del proyecto: </b><%= @banco_proyecto.objetivo_esperado %></div>
            </div>
          </div>
        </div>
      </div>
            
      <div class="col-xs-6 col-sm-10">
        <div id="residentes" style="display:none;">
          <div id="marco">
          
            <h5 id="align-title"><b>Estudiantes que solicitaron realizar este Proyecto de Residencia Profesional:</b></h5>
            
            <% @numeros_control = [] %>
            <% num_alumnos = 0 %>
            <% @num_solicitudes = 0 %>
            <% @banco_estudiante = BancoProyectoEstudiante.where(:numControl => current_usuario.numControl).first %>
            <% @solicitud_realizada = false %>
            
            <% @banco_proyecto.banco_proyecto_estudiantes.each do |est| %>
              <% @numeros_control.insert(num_alumnos, est.numControl) %>
              <% num_alumnos += 1 %>
              <div class="col-xs-6 col-sm-4"><b>Número de control</b><%= est.numControl %></div>
              <% estudiante = Estudiante.find_by(numControl: est.numControl) %>
              <div class="col-xs-6 col-sm-6"><b>Nombre completo: </b><%= estudiante.nombre %> <%= estudiante.apPaterno %> <%= estudiante.apMaterno %></div>
              
              <% @num_solicitudes = @num_solicitudes + 1 %>
              <% if current_usuario.numControl == est.numControl %>
                </br></br></br>
                Ya realizó su solicitud de este Proyecto.
                <% @solicitud_realizada = true %>
                <%= button_to banco_proyecto_banco_proyecto_estudiante_path(:id => est, :banco_proyecto_id => @banco_proyecto.id), :method => :delete, data: { confirm: '¿Está segur@ que desa eliminar esta solicitud?' }, remote: true do %>
                    <span class="glyphicon glyphicon-trash green"></span>Eliminar solicitud
                    <div class="tip" id="action2">Eliminar solicitud</div>
                <% end %>
              <% end %>
              </br>
            <% end %>
            </br>
          
            <% if @num_solicitudes >= @banco_proyecto.num_residentes %>
              </br>
              Las solicitudes para este proyecto han alcanzado el cupo máximo.
              </br></br>
              <% if current_usuario.rol == 'docente' %>
                
                <%= form_tag new_anteproyecto_path, method: :get do %>
                  <%= hidden_field_tag :aprob0, params[:aprob0], :value => @numeros_control[0] %>
                  <%= hidden_field_tag :aprob1, params[:aprob1], :value => @numeros_control[1] %>
                  <%= hidden_field_tag :aprob2, params[:aprob2], :value => @numeros_control[2] %>
                  <%= hidden_field_tag :aprob3, params[:aprob3], :value => @numeros_control[3] %>
                  <%= hidden_field_tag :aprob4, params[:aprob4], :value => @numeros_control[4] %>
                  <%= hidden_field_tag :aprob5, params[:aprob5], :value => @numeros_control[5] %>
                  <%= button_tag(type: 'submit', class: "btn btn-primary", title: "Aprobar estudiante(s)") do %>
                    <i class="glyphicon glyphicon-ok"></i> Aprobar estudiante(s)
                  <% end %>
                <% end %>

              <% end %>
            <% elsif @banco_estudiante != nil %>
              Ya realizó una solicitud de otro proyecto.
            <% else %>
                <% if @solicitud_realizada == false %>
                  <%= button_to new_banco_proyecto_banco_proyecto_estudiante_path(:banco_proyecto_id => @banco_proyecto.id), :method => :get do %><span class="glyphicon glyphicons-user-add green"></span>Solicitar Proyecto<div class="tip" id="action2">Solicitar realizar este proyecto de Residencia Profesional</div><% end %>
                <% else %>
                <% end %>
            <% end %>
            
          </div>
        </div>
      </div>
    
    <div id="docentes" style="display:none;">
      <div id="marco">
      </div>
    </div>
    
  </div>
</div>     
