<div class="container">
    
    <h1 id="align-title">Bienvenid@</h1>    
    <div>
        <% if usuario_signed_in? %>
            <%= current_usuario.email %>
            <%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete %>
        <% else %>
            <h3 style="margin-left: 25%;"><%= link_to "Admin", new_usuario_session_path %></h3>
            <h3 style="margin-left: 40%;"><%= link_to "Docente", new_usuario_session_path(rol: 'docente') %></h3>
            <h3 style="margin-left: 60%;"><%= link_to "Estudiante", new_usuario_session_path(rol: 'estudiante') %></h3>
<<<<<<< HEAD
=======
            <h3 style="margin-left: 60%;"><%= link_to "Empresa", new_usuario_session_path(rol: 'empresa') %></h3>
>>>>>>> d937eca8b026c1b24d3e9d099d373ac3003575ae
        <% end %>
    </div>
    
    <div id="align-image">
        <%= image_tag "logotec.png", :alt => "logo-tec", :title => "Logo-tec", :width => '450', :height => '350', :style=> 'position: absolute; top: 100px filter:alpha(opacity=15);  opacity: 0.5;' %>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> d937eca8b026c1b24d3e9d099d373ac3003575ae
