
<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  
  <% breadcrumb :solicitud_observaciones %>
    
  <h3 id="align-title">Observaciones de la Solicitud de Residencia Profesional</h3>
  <div class="container row"></div>
  <div class="container row">
    
    <div class="col-xs-6 col-sm-11">
      <%= form_tag solicitud_observaciones_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar..." %>
                
        <%= button_tag(type: 'submit', class: "btn btn-default", title: "Buscar") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
    
  </div>
    
  <div id="table-responsive">
    <table class="table table-sm">
      <thead>
        <th class="info"><%= sortable "clave_solicitud", "Clave de la solicitud" %></th>
        <th class="info"><%= sortable "nombrep", "Nombre del Proyecto" %></th>
        <th class="info"><%= "Nombre del Docente revisor" %></th>
        <th class="info"><%= sortable ""  %></th>
      </thead>
      <% @solicitud_observaciones.each do |solicitud| %>
        <tbody>
          <% @docente = Docente.where(:rfc => solicitud.rfc).first %>
          <td class="active"><%= solicitud.solicitud.clave_solicitud %></td>
          <td class="active"><%= solicitud.solicitud.nombrep %></td>
          <td class="active"><%= @docente.nombreD  + " " + @docente.apPaterno + " " + @docente.apMaterno %></td>
          <td class="active">
            <p>
              <%= link_to solicitud_path(solicitud.solicitud) do %>
                <span class="glyphicon glyphicon-eye-open blue"></span><div class="tip" id="action1">Ver</div>
              <% end %>
            </p>
            <p>
              <% if can? :update, solicitud %>
                <%= link_to edit_solicitud_path(solicitud.solicitud) do %>
                  <span class="glyphicon glyphicon-pencil green"></span><div class="tip" id="action2">Editar</div>
                <% end %>
              <% end %>
            </p>
          </td>
        </tbody>
      <% end %>
    </table>
    <%= will_paginate @solicitud_observaciones %>
  </div>
</div>
