<p id="notice"><%= notice %></p>

<h1>Listing Comentario Egresados</h1>

<table>
  <thead>
    <tr>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentario_egresados.each do |comentario_egresado| %>
      <tr>
        <td><%= comentario_egresado.opinion %></td>
        <td><%= link_to 'Show', comentario_egresado %></td>
        <td><%= link_to 'Edit', edit_comentario_egresado_path(comentario_egresado) %></td>
        <td><%= link_to 'Destroy', comentario_egresado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario egresado', new_comentario_egresado_path %>
