<div class="col-xs-6 col-sm-12">
    <% pEst = ProyectoEstudiante.where(proyecto_id: @proyecto.id) %>
    <% for est in pEst %>
        <% s = existeOficioV(@proyecto.id, @proDoc, est.numControl) %>
        <% if s == true %>
            <% @j = OficioVinculacion.find_by(proyecto_id: @proyecto.id, proyecto_docente_id: @proDoc, proyecto_estudiante_id: est.numControl) %>
            <% if @j.fechaLiberacion != nil %>
            <% else %>
                <div id="marco">
                    <h5><b>Datos del documento de Liberación: </b></h5>
                    <%= form_tag(oficio_liberaciones_proyecto_path, method: 'get') do %>
                        <%= hidden_field_tag :format, "pdf" %>
                        <%= hidden_field_tag :proyecto_docente_id,  @proDoc %>
                        <%= hidden_field_tag :proyecto_estudiante_id, est.numControl %>
                        <%= hidden_field_tag :proyecto_id, @proyecto.id %>
                        <% fe = @j.fecha.day.to_s + '/' + @j.fecha.month.to_s + "/" + @j.fecha.year.to_s %>
                        <%= hidden_field_tag :fecha, fe %>
                        <% fec = Time.now
                           f = fec.strftime("%d")+ "/" + fec.strftime("%m") + "/" + fec.strftime("%Y") %>
                        <div class="row">
                            <div class="col-xs-6 col-sm-5"><b>Fecha: </b><%= text_field_tag "fechaLiberacion", f , 'data-behaviour'=> 'datepicker' %></div>
                            <div class="col-xs-6 col-sm-5"><%= submit_tag "Generar", :formtarget => '_blank', class: 'btn btn-success' %></div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
        <% end %>
    <% end %>
</div>
