<%= form_for(@criterio_evaluacion_residencia) do |f| %>
  <% if @criterio_evaluacion_residencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterio_evaluacion_residencia.errors.count, "error") %> prohibited this criterio_evaluacion_residencia from being saved:</h2>

      <ul>
      <% @criterio_evaluacion_residencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_evaluacion %><br>
    <%= f.number_field :id_evaluacion %>
  </div>
  <div class="field">
    <%= f.label :id_cat_criterio_eva %><br>
    <%= f.number_field :id_cat_criterio_eva %>
  </div>
  <div class="field">
    <%= f.label :califiacion_criterio %><br>
    <%= f.number_field :califiacion_criterio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
