<p id="notice"><%= notice %></p>

<h1>Listing Criterio Evaluacion Residencias</h1>

<table>
  <thead>
    <tr>
      <th>Id evaluacion</th>
      <th>Id cat criterio eva</th>
      <th>Califiacion criterio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterio_evaluacion_residencias.each do |criterio_evaluacion_residencia| %>
      <tr>
        <td><%= criterio_evaluacion_residencia.id_evaluacion %></td>
        <td><%= criterio_evaluacion_residencia.id_cat_criterio_eva %></td>
        <td><%= criterio_evaluacion_residencia.califiacion_criterio %></td>
        <td><%= link_to 'Show', criterio_evaluacion_residencia %></td>
        <td><%= link_to 'Edit', edit_criterio_evaluacion_residencia_path(criterio_evaluacion_residencia) %></td>
        <td><%= link_to 'Destroy', criterio_evaluacion_residencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Criterio evaluacion residencia', new_criterio_evaluacion_residencia_path %>
