<div class="container"> 
   
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>

    <h3 id="align-title">Estadísticas de Valoración del Servicio Social</h3>
    <div class="row">
        
        <%= form_tag estadistica_servicios_path, :method => 'get' do %>
        <div class="col-md-2">
          <%= select_tag :periodo, options_for_select([["",""],["FEB-JUN", "FEB-JUN/"], ["AGOS-DIC", "AGOS-DIC/"]], params[:periodo]), class: "form-control" %>
                </div>
                <div class="col-md-2">
                    <%= number_field_tag :anio, params[:anio], min: 2010, class: "form-control", placeholder: "Año" %>
                </div>
                <div class="col-md-1">
                    <%= button_tag(type: 'submit', class: "btn btn-default", title: "Buscar") do %> <span class="glyphicon glyphicon-search"></span><% end %>
                </div>                
      <% end %>    
    </div>    
    <div class="row">  
    <table class="table" id="archivos">
        <thead>
            <tr>                            
                <th class="info">Empresa</th>                 
                <th class="info">Primer bimestre</th>
                <th class="info">Segundo bimestre</th>
                <th class="info">Tercer bimestre</th>
                <th class="info">Promedio Final</th>
                <th class="info">Estudiantes</th> 
                <th class="info">Desempeño</th>

            </tr>
        </thead> 
        <% @nombres = "" %>       
        <% @contador2 = 0 %>        
        <% @q = [0,0,0] %>
        <% cont = 0 %>
       <% @servicios.each do |s| %>  
       <% cont = cont + 1%>            
        <% if @servicios != [] %> 
          <% if @nombres == ""%>
              <% @nombres = s.nombreE %>
          <% elsif @nombres != s.nombreE  %>  
            <tbody>
              <%if @contadorR != 0 %>
                <% @contador2 = @contador2/3 %>
              <% end %>
              <td class="active"><%= @nombres %></td>
              <td class="active">
                <% if  @q[0] !=0 %>
                  <%= promedio = (@q[0].to_f / @contador2.to_f).round(2) %>              
                <% else %>
                  <%= promedio = 0 %>
                  <% end %>
              </td>
              <td class="active">
                <% if @q[1] != 0 %>
                  <%= ((@q[1].to_f / @contador2.to_f)).round(2) %> 
                  <% promedio =promedio + (@q[1].to_f / @contador2.to_f) %>                
                <% else %>
                  <%= 0 %>
                <% end %>

              </td>
              <td class="active">
                <% if @q[2] != 0 %>
                  <%= ((@q[2].to_f / @contador2.to_f)).round(2) %> 
                  <% promedio =promedio +(@q[2].to_f / @contador2.to_f) %>                
                <% else %>
                  <%= 0 %>
                <% end %>
              </td>
              <td class="active">
                <%= promedio = (promedio.to_f/3).round(2) %>
              </td>
              <% a=  Tablapromedio.where('valor_min <= ? and valor_max >= ?', promedio, promedio)%>
              <%# sería algo así creo%>                
              <% e = Empresa.find_by(nombreE: @nombres) %>
              <td class="active"><%= link_to "ver", empresa_path(e.id, periodo: params[:periodo], anio: params[:anio] )%></td>
              <td class="active">
              <%# binding.pry %>
              <% if a[0].nivel_desem !='Insuficiente'%>
                Competencia alcanzada
              <% else %>
                Competencia <STRONG>NO</STRONG> alcanzada
              <% end%>
              <% @contador2 = 0 %>
              <% @nombres = s.nombreE %>
              <% @q = [0,0,0] %>
            </td>  
            </tbody>        
          <% end %>
          <% x = EvaluacionServicio.where(id_servicio_social: s.id) %>                                
                <% contadorR = 0 %> <%# contador bimestres%>
                <% x.each do |y| %>
                  <% a = y.criterio_evaluacion_servicios%>
                  <% if a != [] %>
                    <% if contadorR < 3 %>
                        <% a.each do |b| %>                        
                            <% @q[contadorR] = @q[contadorR] + b.calificacion_criterio %>
                            <% @contador2 = @contador2 + 1 %> 
                        <% end %>
                        <% contadorR = contadorR+1 %>                         
                    <% end %>

                  <% end %>
                  <%# @contador2 = @contador2 + 1 %> 
                <% end %>
          <% end %>
          
          <% if cont == @servicios.count %> 
              <%if @contadorR != 0 %>
                <% @contador2 = @contador2/3 %>
              <% end %>
              <td class="active"><%= @nombres %></td>
              <td class="active">
                <% if  @q[0] !=0 %>
                  <%= promedio = (@q[0].to_f / @contador2.to_f).round(2) %>              
                <% else %>
                  <%= promedio = 0 %>
                  <% end %>
              </td>
              <td class="active">
                <% if @q[1] != 0 %>
                  <%= ((@q[1].to_f / @contador2.to_f)).round(2) %> 
                  <% promedio =promedio + (@q[1].to_f / @contador2.to_f) %>                
                <% else %>
                  No hay Registros
                <% end %>

              </td>
              <td class="active">
                <% if @q[2] != 0 %>
                  <%= ((@q[2].to_f / @contador2.to_f)).round(2) %> 
                  <% promedio =promedio +(@q[2].to_f / @contador2.to_f) %>                
                <% else %>
                 No hay Registros
                <% end %>
              </td>
              <td class="active">
                
                <% if promedio != 0 %>
                <%= promedio = (promedio.to_f/3).round(2) %>
                <%else%>
                   No hay Registros
                <%end%>
              </td>
              <% a=  Tablapromedio.where('valor_min <= ? and valor_max >= ?', promedio, promedio)%>              
              <% e = Empresa.find_by(nombreE: @nombres) %>
              <td class="active"><%= link_to "ver", empresa_path(e.id, periodo: params[:periodo], anio: params[:anio] )%></td>
              <td class="active">
              <%# binding.pry %>
              <% if a[0].nivel_desem !='Insuficiente'%>
                Competencia alcanzada
              <% else %>
                Competencia <STRONG>NO</STRONG> alcanzada
              <% end%>
              <% @contador2 = 0 %>
              <% @nombres = s.nombreE %>
              <% @q = [0,0,0] %>
            </td>  
            </tbody>
          <% end %>

      <% end %>
        </table>
        </div>
      <div class="row">
        <% if @q != nil %>
         <% data_array_1 = [@promedio] %>
         <% data_array_2 = [3.29,3.57,3.86] %>
      
         <% @barv = Gchart.bar( 
            :stacking =>true,
            :size => '700x400',
            :bar_colors => ['F71414', '0EABCB'],
            :title => "Gráfica de Promedios por bimestre", 
            :bg => 'EFEFEF', 
            :legend => ['Empresa 1', 'Empresa 2'],
            :bar_width_and_spacing => {:spacing => 100, :group_spacing => 150},
            :data => [[3.29],[4.0]],
            :legend_position => 'bottom',
            :axis_with_labels => [['x'], ['y'],['r']],                         
            :max_value => 4,
            :min_value => 0,            
            :axis_labels => [["Promedio Bimestral"],["0.00|1.00|1.50|2.50|3.50|4.0"],["|Insuficiente|Suficiente|Bueno|Notable|Excelente"]],
            )  %>

     
        <% end %>
        <div class="row">
         <h6 id="align-title">Los valores de los promedios y el promedio final, muestran el nivel de desempeño del prestador del Servicio Social, de acuerdo a la siguiente tabla: </h6></div>
       
        <table class="tg" style="undefined;table-layout: fixed; width: 502px" >
        <colgroup>
        <col style="width: 214px">
        <col style="width: 201px">
        <col style="width: 87px">
        </colgroup>
          <tr>
            <th class="tg-hgcj">Desempeño</th>
            <th class="tg-hgcj">Niveles de desempeño</th>
            <th class="tg-hgcj">Escala</th>
          </tr>
          <tr>
            <td class="tg-s6z2" rowspan="4">Competencia Alcanzada</td>
            <td class="tg-s6z2">Excelente</td>
            <td class="tg-s6z2">3.50 a 4.00</td>
          </tr>
          <tr>
            <td class="tg-s6z2">Notable</td>
            <td class="tg-s6z2">2.50 a 3.49</td>
          </tr>
          <tr>
            <td class="tg-baqh">Bueno</td>
            <td class="tg-baqh">1.50 a 2.49</td>
          </tr>
          <tr>
            <td class="tg-baqh">Suficiente</td>
            <td class="tg-baqh">1.00 a 1.49</td>
          </tr>
          <tr>
            <td class="tg-baqh">Competencia NO Alcanzada</td>
            <td class="tg-baqh">Insuficiente</td>
            <td class="tg-baqh">0.00 a 0.99</td>
          </tr>
        </table>
           <%= image_tag @barv%>
          
        </div>
       
        


        <%# will_paginate @archivos %>
 
</div>    
            
        <%# will_paginate @archivos %>
    </div>
</div>
<p id="notice"><%= notice %></p>