<p id="notice"><%= notice %></p>

<p>
  <strong>Eficincia:</strong>
  <%= @desem_laboral.eficincia %>
</p>

<p>
  <strong>Calificacion academica:</strong>
  <%= @desem_laboral.calificacion_academica %>
</p>

<p>
  <strong>Utilidad residencia:</strong>
  <%= @desem_laboral.utilidad_residencia %>
</p>

<p>
  <strong>Area estudio:</strong>
  <%= @desem_laboral.area_estudio %>
</p>

<p>
  <strong>Titulacion:</strong>
  <%= @desem_laboral.titulacion %>
</p>

<p>
  <strong>Experiencia laboral:</strong>
  <%= @desem_laboral.experiencia_laboral %>
</p>

<p>
  <strong>Posicionamiento:</strong>
  <%= @desem_laboral.posicionamiento %>
</p>

<p>
  <strong>Conocimiento idioma:</strong>
  <%= @desem_laboral.conocimiento_idioma %>
</p>

<p>
  <strong>Recomendaciones:</strong>
  <%= @desem_laboral.recomendaciones %>
</p>

<p>
  <strong>Personalidad actitud:</strong>
  <%= @desem_laboral.personalidad_actitud %>
</p>

<p>
  <strong>Otros:</strong>
  <%= @desem_laboral.otros %>
</p>

<%= link_to 'Edit', edit_desem_laboral_path(@desem_laboral) %> |
<%= link_to 'Back', desem_laborales_path %>
