<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Constancia de liberación de actividades académicas</title>
        <%= wicked_pdf_stylesheet_link_tag "pdf.css" -%>
        <style type="text/css">
            p.estilo { font-size: 14px; }
            table { border-collapse: collapse; }
            table, th, td { border: black 1pt solid; padding: 5px;, font-size: 10px; }
        </style>
    </head>
    <body>
        <% catP = CatTipoPuesto.find_by(nombrePuesto: 'Presidente de Academia') %>
        <% puest = Puesto.where(cat_tipo_puesto_id: catP.id) %>
        <% @pu = nil %>
        <% for p in puest %>
            <% if p.estado == 'Activo' %>
                <% @pu = p.docente_id %>
            <% end %>
        <% end %>
        <% docpre = Docente.find(@pu) %>
        <% presidAcad =  docpre.nombreD + " " + docpre.apPaterno + " " + docpre.apMaterno %>
        <% dpto = Configuracion.find_by(tipo: "Jefe de Sistemas y Computacion").contenido %>
        <% @x = oficioConstancia(params[:fecha], params[:docente_id], params[:periodo], params[:asistencia], params[:participacion], params[:asesoriaTitulacion], params[:propuesta], params[:sinodales], params[:partiEvento], params[:contribucion], params[:desarrollo], params[:propuestaBanco], params[:asesoriaAcad], params[:tutoria], params[:particComision], params[:otro], params[:otros], params[:cumplio], dpto, presidAcad, params[:reunion_id]) %>
        <br/><br/>
        <div style="width: 100%;">
            <p align="center" style="font-size: 14px;">
                <b>CARTA DE LIBERACIÓN DE ACTIVIDADES ACADÉMICAS</b><br/>
                Departamento Académico de Sistemas y Computación
            </p>
        </div>
        <br/>
        <div style="width: 100%">
            <p align="right" style="font-size: 14px;">
                Oaxaca de Juárez, Oaxaca, a <%= @x.fecha.day %> de <%= meses(@x.fecha.month).downcase %> de <%= @x.fecha.year %>
	           <br/>
                Asunto: Constancia de liberación <br/>de actividades académicas
            </p>
        </div>
        <% @c = Configuracion.find_by(tipo: "Mexico") %>	
        <%= wicked_pdf_image_tag(@c.imagen_url, size: "800x600", :style => ' display: flex;  position: absolute; rigth: 150px; filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;, font-size: 10px;') %>
        
        <div style="width: 100%;">
            <% docent = Docente.find(@x.docente_id) %>
            <p align="left" style="font-size: 16px;">
                <strong>C. <%= docent.nombreD.upcase %> <%= docent.apPaterno.upcase %> <%= docent.apMaterno.upcase %><br/>PRESENTE</strong>
            </p>
        </div>
        <div style="width:100%;">
            <p align="justify" style="font-size: 15px;">Por medio <% if docent.genero == 'F' %> de la <% else %> del <% end %> presente, se hace de su conocimiento que durante el semestre <%= @x.periodo.downcase %>, se evaluó el cumplimiento de las siguientes actividades académicas: 
            </p>
        </div>
        <div style="width:100%;">
            <table>
                <tbody>
                    <tr>
                        <td align="center"><b>Actividades</b></td>
                        <td><b align="center">Si</b></td>
                        <td><b align="center">No</b></td>
                        <td><b align="center">NA</b></td>
                    </tr>
                    <tr>
                        <td>Asistencia a reuniones invocadas</td>
                        <td><b><% if @x.asistencia == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asistencia == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asistencia == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Participación en programas de formación y actualización docente</td>
                        <td><b><% if @x.participacion == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.participacion == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.participacion == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Asesorías en procesos detitulación integral encomendadas</td>
                        <td><b><% if @x.asesoriaTitulacion == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asesoriaTitulacion == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asesoriaTitulacion == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Propuestas de mejoras en la operación de programas y proyectos académicos</td>
                        <td><b><% if @x.propuesta == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.propuesta == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.propuesta == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Sinodales en protocolos de titulación</td>
                        <td><b><% if @x.sinodales == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.sinodales == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.sinodales == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Participación en eventos de la academia</td>
                        <td><b><% if @x.partiEvento == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.partiEvento == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.partiEvento == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Contribución con propuestas de mejora en los planes y programas de estudio</td>
                        <td><b><% if @x.contribucion == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.contribucion == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.contribucion == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Desarrollo de materiales de apoyo didáctico</td>
                        <td><b><% if @x.desarrollo == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.desarrollo == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.desarrollo == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Propuestas para banco de proyectos</td>
                        <td><b><% if @x.propuestaBanco == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.propuestaBanco == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.propuestaBanco == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Asesorías académicas</td>
                        <td><b><% if @x.asesoriaAcad == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asesoriaAcad == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.asesoriaAcad == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Tutoría</td>
                        <td><b><% if @x.tutoria == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.tutoria == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.tutoria == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Participación en comisiones académicas (equivalencias, Salida Lateral, traslado, proyecto integrador, acreditaciones, certificaciones, diseño especialidades, proyectos integradores, etc.)</td>
                        <td><b><% if @x.particComision == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.particComision == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.particComision == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td>Otros (especificar): <%= @x.otro %></td>
                        <td><b><% if @x.otros == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.otros == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.otros == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                    <tr>
                        <td><b>¿Cumplió con las actividades académicas encomendadas al 100%? </b></td>
                        <td><b><% if @x.cumplio == 's' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.cumplio == 'n' %> X <% else %> <% end %></b></td>
                        <td><b><% if @x.cumplio == 'na' %> X <% else %> <% end %></b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div style="width: 100%;">
            <div class="row">
                <div class="col-lg-6"><p align="center"><b><% if docpre.genero == 'F' %>Presidenta de la Academia<% else %>Presidente de Academia<% end %> </b></p></div>
                <div class="col-lg-6"><p align="center"><b>Vo. Bo. Jefe del Departamento Académico</b></p></div>
            </div>
            <br/><br/><br/><br/><br/>
            <div class="row">
                <% @grado = GradoEstudio.where(docente_id: docpre.id).last %>
                <div class="col-lg-6" style="border-top: black 1px solid;"><p align="center"><b></b><%= @grado.abrev %> <%= presidAcad %></p></div>
                <div class="col-lg-5" style="border-top: black 1px solid; margin-left: 50px;"><p align="center"><b></b><%= dpto %></p></div>
            </div>
        </div>
    </body>
</html>