<div class="container">
  <div id="align-forms">
    <%= nested_form_for @banco_proyecto_estudiante, validate: true do |f|%>
      <div id="marco">

        <div class="row">
          Su solicitud ser치 revisada por el Departamento de Vinculaci칩n y Extensi칩n
          <%= f.hidden_field :numControl, :value => current_usuario.numControl %>
        
          <%= f.hidden_field :estado, :value => "En revisi칩n" %>
          
          <%= f.hidden_field :observacion %>
          
          <%= f.text_field :banco_proyecto_id %>
        </div>
        
        <%= f.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
