<div class="container">
  <div id="align-forms">
    <%= form_for(@banco_proyecto_estudiante) do |f| %>
    <div id="marco">

      <div class="field">
        <%= f.label :numControl %><br>
        <%= f.text_field :numControl, value => current_usuario.numControl %>
      </div>
      <div class="field">
        <%= f.label :estado %><br>
        <%= f.text_field :estado %>
      </div>
      <div class="field">
        <%= f.label :observacion %><br>
        <%= f.text_field :observacion %>
      </div>
      <div class="field">
        <%= f.label :banco_proyecto_id %><br>
        <%= f.text_field :banco_proyecto_id %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
      
    </div>
  </div>
</div>
