<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre criterio:</strong>
  <%= @cat_criterio_eval_servicio.nombre_criterio %>
</p>

<p>
  <strong>Cal a:</strong>
  <%= @cat_criterio_eval_servicio.cal_A %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cat_criterio_eval_servicio.status %>
</p>

<%= link_to 'Edit', edit_cat_criterio_eval_servicio_path(@cat_criterio_eval_servicio) %> |
<%= link_to 'Back', cat_criterio_eval_servicios_path %>
