<p id="notice"><%= notice %></p>

<h1>Listing Ubicacion Egresados Empresas</h1>

<table>
  <thead>
    <tr>
      <th>Num prof</th>
      <th>Cant mando superior</th>
      <th>Cant mando intermedio</th>
      <th>Cant mando tecnico</th>
      <th>Otro esp</th>
      <th>Otro can</th>
      <th>Completamente</th>
      <th>Medianamente</th>
      <th>Ligeramente</th>
      <th>Ninguna relacion</th>
      <th>Requisitos</th>
      <th>Carreras demandan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ubicacion_egresados_empresas.each do |ubicacion_egresados_empresa| %>
      <tr>
        <td><%= ubicacion_egresados_empresa.num_prof %></td>
        <td><%= ubicacion_egresados_empresa.cant_mando_superior %></td>
        <td><%= ubicacion_egresados_empresa.cant_mando_intermedio %></td>
        <td><%= ubicacion_egresados_empresa.cant_mando_tecnico %></td>
        <td><%= ubicacion_egresados_empresa.otro_esp %></td>
        <td><%= ubicacion_egresados_empresa.otro_can %></td>
        <td><%= ubicacion_egresados_empresa.completamente %></td>
        <td><%= ubicacion_egresados_empresa.medianamente %></td>
        <td><%= ubicacion_egresados_empresa.ligeramente %></td>
        <td><%= ubicacion_egresados_empresa.ninguna_relacion %></td>
        <td><%= ubicacion_egresados_empresa.requisitos %></td>
        <td><%= ubicacion_egresados_empresa.carreras_demandan %></td>
        <td><%= link_to 'Show', ubicacion_egresados_empresa %></td>
        <td><%= link_to 'Edit', edit_ubicacion_egresados_empresa_path(ubicacion_egresados_empresa) %></td>
        <td><%= link_to 'Destroy', ubicacion_egresados_empresa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ubicacion egresados empresa', new_ubicacion_egresados_empresa_path %>
