<p id="notice"><%= notice %></p>

<p>
  <strong>Num prof:</strong>
  <%= @ubicacion_egresados_empresa.num_prof %>
</p>

<p>
  <strong>Cant mando superior:</strong>
  <%= @ubicacion_egresados_empresa.cant_mando_superior %>
</p>

<p>
  <strong>Cant mando intermedio:</strong>
  <%= @ubicacion_egresados_empresa.cant_mando_intermedio %>
</p>

<p>
  <strong>Cant mando tecnico:</strong>
  <%= @ubicacion_egresados_empresa.cant_mando_tecnico %>
</p>

<p>
  <strong>Otro esp:</strong>
  <%= @ubicacion_egresados_empresa.otro_esp %>
</p>

<p>
  <strong>Otro can:</strong>
  <%= @ubicacion_egresados_empresa.otro_can %>
</p>

<p>
  <strong>Completamente:</strong>
  <%= @ubicacion_egresados_empresa.completamente %>
</p>

<p>
  <strong>Medianamente:</strong>
  <%= @ubicacion_egresados_empresa.medianamente %>
</p>

<p>
  <strong>Ligeramente:</strong>
  <%= @ubicacion_egresados_empresa.ligeramente %>
</p>

<p>
  <strong>Ninguna relacion:</strong>
  <%= @ubicacion_egresados_empresa.ninguna_relacion %>
</p>

<p>
  <strong>Requisitos:</strong>
  <%= @ubicacion_egresados_empresa.requisitos %>
</p>

<p>
  <strong>Carreras demandan:</strong>
  <%= @ubicacion_egresados_empresa.carreras_demandan %>
</p>

<%= link_to 'Edit', edit_ubicacion_egresados_empresa_path(@ubicacion_egresados_empresa) %> |
<%= link_to 'Back', ubicacion_egresados_empresas_path %>
