<div class="container">
    <div id="align-forms">
        <%= nested_form_for @especialidad, validate: true do |especialidad| %>
            <div class="row">
                <%= especialidad.label :Nombre_de_la_carrera, :class => 'col-md-3' %>
                <div class="col-md-4">
                    <%= especialidad.text_field :nombreEsp, :maxlength => 50, :class => 'form-control',disabled: true, validate: true %>
                </div>
            </div>
            <div class="row">
                <%= especialidad.label :Alías, :class => 'col-md-3' %>
                <div class="col-md-4">
                    <%= especialidad.text_field :alias, :maxlength => 6, :class => 'form-control',disabled: true, validate: true %>
                </div>
            </div>
        
            <div class="row">
                <%= especialidad.label :Estado, :class => 'col-md-3' %>
                <div class="col-md-4">
                    <%= especialidad.select :estado, options_for_select([["Activo", "Activo"], ["Inactivo", "Inactivo"]]),{}, :class => 'form-control', validate: true %>
                </div>
            </div>
            
            <div class="row" id="btn-cancelar">
                <div class="col-xs-6 col-sm-5" align="right">
                    <%= especialidad.submit :Guardar, :class => 'btn btn-success' %>
                </div>   
        <% end %>
                <div class="col-xs-6 col-sm-4">
                    <%= button_to "Cancelar", cat_especialidades_path, :class => 'btn btn-warning', :method => :get %>
                </div>
            </div>
    </div>
</div>
