
<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
    
  <% breadcrumb :anteproyectos, @anteproyecto %>
  
  <h3 id="align-title">Anteproyecto de Residencia Profesional</h3>
  
  <div id="marco">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="proyecto">Anteproyecto</button>
          <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="residente">Residentes</button>
          <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrarProyecto(this)" value="docent">Observaciones</button>
          </br>
          <% if current_usuario.rol == "docente" %>
            <%= button_to edit_anteproyecto_path(@anteproyecto), :method => :get do %>Realizar observ/Aprobar<div class="tip" id="action2">Realizar observaciones/Aprobar</div><% end %>
          <% end %>
        </div>
      </div>
      
      <div class="col-xs-6 col-sm-10">
        <div id="proyectoG" style="display:block;">
          <div id="marco">
            <h5 id="align-title"><b>Anteproyecto de Residencia Profesional</b></h5>
            <div class="row">
              <div class="col-xs-6 col-sm-12" align="justify"><b>Nombre del proyecto: </b><%= @anteproyecto.nombre_anteproy %></div>
            </div>
            </br>
            <div class="row">
              <div class="col-xs-6 col-sm-6" align="justify"><b>Asesor externo: </b><%= @anteproyecto.asesor_externo %></div>
            </div>
            
            <div class="row">
              <div class="col-xs-6 col-sm-6"><b>Estado (Vinculación): </b> <%= @anteproyecto.status_anteproy %></div>
            </div>
            
            <div class="row">
              <div class="col-xs-6 col-sm-12"><b>Estado (Revisor): </b> <%= @anteproyecto.status_anteproy_revisor %>
                <% if @anteproyecto.revisor != nil %>
                  <% revisor = Docente.find_by(rfc: @anteproyecto.revisor) %>
                  por <%= revisor.nombreD %> <%= revisor.apPaterno %> <%= revisor.apMaterno%>
                <%end%>
              </div>
            </div>
            
            </br>
            <% if current_usuario.rol == 'estudiante' %>
              <%= render 'form' %>
            <% end %>
          </div>
        </div>
      </div>
           
      <div class="col-xs-6 col-sm-10">
        <div id="residentes" style="display:none;">
          <div id="marco">
            <div class="row">
            <h5 id="align-title"><b>Residentes</b></h5>
            <% @anteproyecto.anteproyecto_estudiantes.each do |est| %>
              <div class="col-xs-6 col-sm-4"><b>Número de control</b> <%= est.numControl %></div>
              <% estudiante = Estudiante.find_by(numControl: est.numControl) %>
              <div class="col-xs-6 col-sm-6"><b>Nombre completo: </b><%= estudiante.nombre %> <%= estudiante.apPaterno %> <%= estudiante.apMaterno %></div>
            <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-10">
        <div id="docentes" style="display:none;">
          <div id="marco">
            <div class="row">
              <div class="col-xs-6 col-sm-12" align="justify">
                <h5 id="align-title"><b>Observaciones</b></h5>
                
                <% @anteproyecto.anteproyecto_observaciones.each do |est| %>
                  <% if est.observacion != nil %>
                    <div id="marco">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6"><b>RFC del revisor:</b> <%= est.identificador %></div>
                        <% docente = Docente.find_by(rfc: est.identificador) %>
                        <% if docente == nil %>
                          <div class="col-xs-6 col-sm-6"><b>Reviso: </b>Jefatura de Vinculación y Extensión de Ing. en Sistemas y Comput ación</div>
                        <% else %>
                          <div class="col-xs-6 col-sm-6"><b>Nombre el revisor: </b><%= docente.nombreD %> <%= docente.apPaterno %> <%= docente.apMaterno %></div>
                        <% end %>
                      </div>
                      
                      <div class="row">
                        <div class="col-xs-6 col-sm-4"><b>Fecha y hora:</b> <%= est.updated_at %></div>
                      </div>
                      
                      <div class="row">
                        <div class="col-xs-6 col-sm-12"><b>Observación:</b> <%= est.observacion %></div>
                      </div>
                    </div>
                    <br/>
                  <% end %>
                <% end %>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>     
