<div class="container">
  <div id="align-forms">
  
    <%= nested_form_for @solicitud, validate: true do |act|%>
      <div id="marco">
      
        <div id="marco">
          <div class="row">
            <div class="col-xs-5 col-md-10"> <%= act.label "Nombre de Proyecto"%>:
            <%= act.text_area :nombrep, :class => 'col-xs-5 col-md-12', :size => "40x2", validate: true %></div>
          </div>
        </div>
        
        <div id="marco">
          <div class="row">
            <div class="col-xs-5 col-sm-4"> <%= act.label "Fecha de inicio"%>:
            <%= act.date_field :fechaini, class: "form-control", validate: true %></div>
            
            <div class="col-xs-5 col-sm-4"><%= act.label "Fecha de término" %>:
            <%= act.date_field :fechater, class: "form-control", validate: true %></div>
          </div>
        </div>
        
        <div id="marco">
          <div class="row">
            <% if current_usuario.rol == "empresa" %>
              <%= act.hidden_field :rfc, :value => current_usuario.rfc %>
            <% else %>
              <%= act.text_field :rfc, :class => 'col-xs-5 col-md-12', validate: true %>
            <% end %>
            
            <div class="col-xs-5 col-sm-4"> <%= act.label "Asesor externo del proyecto"%>:
            <%= act.text_field :aexterno, :class => 'col-xs-4 col-md-12', validate: true %></div>
            
            <div class="col-xs-10 col-sm-10">
              </br>
            </div>
          
            <div class="col-xs-5 col-sm-4"><%= act.label "Número de teléfono" %>:
            <%= act.text_field :telefono, :class => 'col-xs-4 col-md-12', validate: true %></div>
            
            <div class="col-xs-5 col-sm-4"><%= act.label "Extensión" %>:
            <%= act.text_field :extension, :class => 'col-xs-4 col-md-12', validate: true %></div>
          </div>
          </br>
          <div class="row">
            <div class="col-xs-5 col-sm-4"><%= act.label "Correo electrónico el asesor Externo"%>:
            <%= act.text_field :correo, :class => 'col-xs-4 col-md-12', validate: true %></div>
            
            <div class="col-xs-5 col-sm-4"><%= act.label "Área" %>:
            <%= act.text_field :area, :class => 'col-xs-4 col-md-12', validate: true %></div>
          </div>
        </div>
        
        <div id="marco">
          <div class="row">
            <div class="col-xs-5 col-sm-4"><%= act.label "Número de residentes" %>:
            <% str = "" %>
            <% str2 = "" %>
            <% str = raw(str + "&nbsp;" * 60) %>
            <% str2 = raw(str2 + "&nbsp;" * 3) %>
            <%= act.select :numresidentes, options_for_select([[str2 + "1" + str, 1], [str2 + "2" + str, 2], [str2 + "3" + str, 3], [str2 + "4" + str, 4], [str2 + "5" + str, 5]], :selected => @solicitud.numresidentes), :class => 'col-xs-4 col-md-12', validate: true%></div>
            
            <div class="col-xs-5 col-sm-4"> <%= act.label "Carrera" %>:
            <% carr = [["Ingeniería en Sistemas Computacionales", "Ingeniería en Sistemas Computacionales"], ["Ingeniería en Electrónica", "Ingeniería en Electrónica"], ["Ingeniería Eléctrica", "Ingeniería Eléctrica"], ["Ingeniería Civil", "Ingeniería Civil"], ["Ingeniería Mecánica", "Ingeniería Mecánica"], ["Ingeniería Industrial", "Ingeniería Industrial"], ["Ingeniería Química", "Ingeniería Química"], ["Ingeniería en Gestión Empresarial", "Ingeniería en Gestión Empresarial"], ["Licenciatura en Administración", "Licenciatura en Administración"]] %>
            <%= act.select :carrera, options_for_select(carr, :selected => @solicitud.carrera), :class => 'col-xs-4 col-md-12', validate: true%></div>
          </div>
          </br>
          <div class="row">
            <div class="col-xs-5 col-sm-4"><%= act.label "Semestre" %>:
            <%= act.select :semestre, options_for_select([[str2 + "8" + str, 8], [str2 + "9" + str, 9], [str2 + "10" + str, 10], [str2 + "11" + str, 11], [str2 + "12" + str, 12]], :selected => @solicitud.semestre), :class => 'col-xs-4 col-md-12', validate: true%></div>
            
            <div class="col-xs-5 col-sm-4"><%= act.label "Inglés requerido" %>:
            <%= act.select :ingles, options_for_select([[str2 + "Sí" + str, "sí"], [str2 + "No" + str, "no"]], @solicitud.ingles), :class => 'col-xs-4 col-md-12', validate: true%></div>
          </div>
          </div>

          <fieldset id="horarios">
            <div id="marco">
              <div class="row">
                <div class="col-xs-5 col-sm-12"><%= act.label "Horario (en formato de 24 horas):" %></div>
                <%= act.fields_for :solicitud_horarios, validate: true do |horario| %>
                  <% horario_registrado = SolicitudHorario.find_by(:solicitud_id => @solicitud.id) %>
                  <% dia= [["Lunes", "Lunes"], ["Martes", "Martes"], ["Miércoles", "Miercoles"], ["Jueves", "Jueves"], ["Viernes", "Viernes"], ["Sábado", "Sabado"], ["Domingo", "Domingo"]] %>
                  
                  <% if horario_registrado != nil %>
                    <div class="col-xs-5 col-sm-4">De:
                      <%= horario.select :dia_inicio, options_for_select(dia, :selected => horario_registrado.dia_inicio), :class => 'col-xs-4 col-md-12', validate: true %> a:
                      <%= horario.select :dia_termino, options_for_select(dia, :selected => horario_registrado.dia_termino), :class => 'col-xs-4 col-md-12', validate: true %>
                    </div>
                    <div class="col-xs-5 col-sm-4"> <%= horario.label "Hora de entrada" %>:
                      <%= horario.time_field :hora_inicio, :value => horario_registrado.hora_inicio, validate: true %>
                    </div>            
                    <div class="col-xs-5 col-sm-3"> <%= horario.label "Hora de salida" %>:
                      <%= horario.time_field :hora_termino, :value => horario_registrado.hora_termino, validate: true %>
                    </div>
                    <div class="col-xs-5 col-sm-1">
                      <%= horario.link_to_remove do %><span class="glyphicon glyphicon-trash red"></span><% end %>
                    </div>
                  <% else %>
                    <div class="col-xs-5 col-sm-4">De:
                      <%= horario.select :dia_inicio, options_for_select(dia), :class => 'col-xs-4 col-md-12', validate: true %> a:
                      <%= horario.select :dia_termino, options_for_select(dia, :selected => "Viernes"), :class => 'col-xs-4 col-md-12', validate: true %>
                    </div>
                    <div class="col-xs-5 col-sm-4"> <%= horario.label "Hora de entrada" %>:
                      <%= horario.time_field :hora_inicio, validate: true %>
                    </div>            
                    <div class="col-xs-5 col-sm-3"> <%= horario.label "Hora de salida" %>:
                      <%= horario.time_field :hora_termino, validate: true %>
                    </div>
                    <div class="col-xs-5 col-sm-1">
                      <%= horario.link_to_remove do %><span class="glyphicon glyphicon-trash red"></span><% end %>
                    </div>
                  <% end %>
                  
                <% end %>
              </div>          
              <div class="row">
                <%= act.link_to_add :solicitud_horarios, :class => 'col-xs-5 col-sm-2',title: "Agregar horario" do %><span class="glyphicon glyphicon-plus blue"></span><% end %>
              </div>
            </div>
          </fieldset>
        </div>
       
        <div id="marco">
          <div class="row">
            <div class="col-xs-4 col-md-12">
              <%= act.label "Descripción del proyecto:" %>
              <div class="col-md-12"><%= act.text_area :desproyecto, class: "form-control descripcion_textarea", validate: true %></div>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col-xs-4 col-md-12">
              <%= act.label "Objetivos esperados:" %>
              <div class="col-md-12"><%= act.text_area :objetivo, class: "form-control descripcion_textarea", validate: true %></div>
            </div>
          </div>
          </br>
          <div class="row">
            <div class="col-xs-4 col-md-12">
              <%= act.label "Actividades a desempeñar:" %>
              <div class="col-md-12"><%= act.text_area :actividades, class: "form-control descripcion_textarea", validate: true %></div>
            </div>
          </div>
        </div>
       
        <div id="marco">
          <div class="row">
            <h4>
              <%= act.label "Recursos:", :class => 'col-xs-10 col-sm-0' %>
            </h4>
            <h5>
              <%= act.label "Anotar (Sí /No) en cada recuadro si la Empresa asignará al Estudiante los recursos mostrados a continuación, mientras dure su Residencia.", :class => 'col-xs-10 col-sm-0' %>
              <%= act.label "En caso de Beca, anotar el monto", :class => 'col-xs-10 col-sm-0' %>
              <%= act.label "Podrá incluir alguna observación extra", :class => 'col-xs-10 col-sm-0' %>
            </h5>
          </div>
          
          </br></br>
          
          <div class="row">
            <%= act.label "Desktop top:", :class => 'col-xs-4 col-md-3' %>
            <%= act.select :pc, options_for_select([[str2 + "Sí", "sí"], [str2 + "No", "no"]], :selected => @solicitud.pc), :class => 'col-xs-4 col-md-2', validate: true%>
          </div>
         
          <div class="row">
            <%= act.label "Teléfono de escritorio:", :class => 'col-xs-4 col-md-3' %>
            <%= act.select :tel_escritorio, options_for_select([[str2 + "Sí", "sí"], [str2 + "No", "no"]], :selected => @solicitud.tel_escritorio), :class => 'col-xs-4 col-md-2', validate: true%>
          </div>
         <div class="row">
            <%= act.label "Cuenta de correo:", :class => 'col-xs-4 col-md-3' %>
            <%= act.select :cuenta_correo, options_for_select([[str2 + "Sí", "sí"], [str2 + "No", "no"]], :selected => @solicitud.cuenta_correo), :class => 'col-xs-4 col-md-2', validate: true%>
          </div>
          <div class="row">
            <%= act.label "Lugar o cubículo:", :class => 'col-xs-4 col-md-3' %>
            <%= act.select :lugar, options_for_select([[str2 + "Sí", "sí"], [str2 + "No", "no"]], :selected => @solicitud.lugar), :class => 'col-xs-4 col-md-2', validate: true%>
          </div>
         
          <div class="row">
            <%= act.label "Beca:", :class => 'col-xs-4 col-md-3' %>
            <% if @solicitud.beca == "" or @solicitud.beca == nil %>
              <%= act.number_field :beca, min: 0, :value => "0", :class => 'col-xs-4 col-md-2', validate: true%>
            <% else %>
              <%= act.number_field :beca, min: 0, :value => @solicitud.beca.to_s, :class => 'col-xs-4 col-md-2', validate: true%>
            <% end %> pesos
          </div>
          
          </br></br>
          
          <div class="row">
            <%= act.label "Observaciones:", :class => 'col-xs-4 col-md-3' %>
            <div class="col-md-12"><%= act.text_area :observacion, class: "form-control descripcion_textarea", validate: true %></div>
            
            <%= act.hidden_field :estado, :value => "En revisión" %>
            <%= act.hidden_field :estado_revision_docente, :value => "Revisor no asignado" %>
          </div>
        </div>
          
        <div class="row">
          <div class="col-xs-2 col-md-3" id="btn-cancelar">
            <%= act.submit :Guardar, :class => 'btn btn-success' %>
          </div>  
        </div>
      <% end %>
  </div>
</div>
