<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  <% breadcrumb :solicitud_edit, @solicitud %>
  
  <% if current_usuario.rol == "docente" %>
    <h3 id="align-title">Agregar Docente o Aprobación de Solicitud de Residencia Profesional</h3>
  <% else %>
    <h3 id="align-title">Observaciones de Solicitud de Residencia Profesional</h3>
  <% end %>
 
  <div id="marco">
      <%= nested_form_for @solicitud, validate: true do |solicitud| %>
        <div id="marco">
          <div class="row">
            <div class="col-xs-6 col-sm-5"><b>Nombre del proyecto: </b><%= @solicitud.nombrep %></div>
            <div class="col-xs-6 col-sm-4"><b>Nombre de la empresa: </b>
              <% @empresa = Empresa.where(:rfcEmpresa => @solicitud.rfc).first %>
              <%= @empresa.nombreE %>
            </div>
            <div class="col-xs-6 col-sm-3"><b>Área: </b><%= @solicitud.area %></div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-5"><b>Fecha de inicio: </b><%= @solicitud.fechaini %></div>
            <div class="col-xs-6 col-sm-4"><b>Fecha de término: </b><%= @solicitud.fechater %></div>
          </div>
        </div>
        
        </br>
        
      
      
          <div id="marco">
            <h5><strong>Agregar Revisor</strong></h5>
          
              <div class="row">
                <div class="col-md-2"><%= solicitud.label :Revisor %></div>
                  <div class="col-md-4">
                        <%= solicitud.select :rfc_docente_revisor, Docente.all.map { |u| [u.nombreD + " " + u.apPaterno + " " + u.apMaterno, u.rfc] }, { include_blank: true },{ class: ' chosen-select'} %></div>            
              </div>
             
          </div>
       
          
        <div id="marco">
          <div class="row">
            
            <% if current_usuario.rol == "docente" %>
              <%= solicitud.label :estado, "Estado", class: 'col-md-6' %>
              <div class="col-md-10">
              <%= solicitud.select :estado, options_for_select([["En revisión", "En revisión"], ["Aprobado", "Aprobado"], ["No aprobado", "No aprobado"]], :selected => @solicitud.estado), class: 'form-control', validate: true %></div>
            <% end %>
          </div>
        </div>
        <div class="row" id="btn-guardar">
          <div class="col-xs-6 col-md-6" id="btn">
            <%= solicitud.submit :Guardar, :class => 'btn btn-success' %>
          </div>   
      <% end %>
          <div class="col-xs-6 col-md-6" id="btn">
            <%= button_to "Cancelar", solicitudes_path, :class => 'btn btn-warning', :method => :get %>
          </div>
        </div>
  </div>
</div>
