<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  
  <% breadcrumb :solicitudes %>
    
  <h3 id="align-title">Solicitudes de Residencia Profesional</h3>
  
  <div class="container row">
    <div class="col-xs-6 col-sm-0">
      <%= button_to new_solicitud_path, :class => "btn btn-primary", :method => :get do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
    
    <div class="col-xs-6 col-sm-11">
      <%= form_tag solicitudes_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar..." %>
        Filtrar por estado:
        <%= select_tag :estado, options_for_select([["Aprobado", "Aprobado"], ["No aprobado", "No Aprobado"], ["En revisión", "En revisión"]], params[:estado]), include_blank: true %>
        
        Filtrar por periodo:
        <%= select_tag :periodo, options_for_select([["FEB-JUN", "FEBRERO-JUNIO"], ["AGO-DIC", "AGOSTO-DICIEMBRE"]], params[:periodo]), include_blank: true %>
        
        Filtrar por año:
        <%= number_field_tag :anio, params[:anio], placeholder: "Año" %>
                
        <%= button_tag(type: 'submit', class: "btn btn-default", title: "Buscar") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
    
  </div>
    
  <div id="table-responsive">
    <table class="table table-sm">
      <thead>
        <th class="info"><%= sortable "clave_solicitud" %></th>
        <th class="info"><%= sortable "nombrep", "Nombre del Proyecto"%></th>
        <th class="info"><%= "Nombre de la Empresa/Institución" %></th>
        <th class="info"><%= sortable "created_at", "Fecha de la solicitud" %></th>    
        <th class="info"><%= sortable "estado", "Estado (Revisor)" %></th>  
        <th class="info"><%= sortable "estado", "Estado (Vinculación)" %></th>  
      </thead>
      <% @solicitudes.each do |solicitud| %>
        <tbody>
          <% if current_usuario.rol == "empresa" %>
            <% if current_usuario.rfc == solicitud.rfc %>
              <% empresa = Empresa.where(:rfcEmpresa => solicitud.rfc).first %>
              <td class="active"><%= solicitud.clave_solicitud%></td>
              <td class="active"><%= solicitud.nombrep %></td>
              <td class="active"><%= empresa.nombreE %></td>
              <td class="active"><%= solicitud.created_at.strftime("%d/%m/%Y") %></td>0
              <td class="active"><%= solicitud.estado_revision_docente %></td>
              <td class="active"><%= solicitud.estado %></td>
              <td class="active">
                <p>
                  <%= link_to solicitud_path(solicitud), :title => "Ver" do %>
                    <span class="glyphicon glyphicon-eye-open blue"></span></div>
                  <% end %>
                  <%= link_to edit_solicitud_path(solicitud), :title => "Editar" do %>
                    <span class="glyphicon glyphicon-pencil green"></span></div>
                  <% end %>
                </p>
               
              </td>
            <% end %>
          <% elsif current_usuario.rol == "docente" %>
            <% @id_docente = Docente.where(:email => current_usuario.email).first %>
            <% @puesto = Puesto.where(:docente_id => @id_docente, :cat_tipo_puesto_id => 4).first %>
            <% empresa = Empresa.where(:rfcEmpresa => solicitud.rfc).first %>
            <% if current_usuario.rfc == solicitud.rfc_docente_revisor || @puesto != nil %>
              <td class="active"><%= solicitud.clave_solicitud%></td>
              <td class="active"><%= solicitud.nombrep %></td>
              <td class="active"><%= empresa.nombreE %></td>
              <td class="active"><%= solicitud.created_at.strftime("%d/%m/%Y") %></td>
              <td class="active"><%= solicitud.estado_revision_docente %></td>
              <td class="active"><%= solicitud.estado %></td>
              <td class="active">
                <p>
                  <%= link_to solicitud_path(solicitud), :title => "Ver" do %>
                    <span class="glyphicon glyphicon-eye-open blue"></span></div>
                  <% end %>
                </p>
              </td>
            <% end %>
          <% else %>
            <td class="active"><%= solicitud.clave_solicitud %></td>
            <td class="active"><%= solicitud.nombrep %></td>
            <td class="active"><%= empresa.nombreE %></td>
            <td class="active"><%= solicitud.created_at.strftime("%d/%m/%Y") %></td>
            <td class="active"><%= solicitud.estado_revision_docente %></td>
            <td class="active"><%= solicitud.estado %></td>
            <td class="active">
              <p>
                <%= link_to solicitud_path(solicitud) do %>
                  <span class="glyphicon glyphicon-eye-open blue"></span><div class="tip" id="action1">Ver</div>
                <% end %>
            
                <%= link_to edit_solicitud_path(solicitud) do %>
                  <span class="glyphicon glyphicon-user green"></span><div class="tip" id="action1">Revisor</div>
                <% end %>
              </p>
              <p>
                <% if can? :update, solicitud %>
                  <%= link_to edit_solicitud_path(solicitud) do %>
                    <span class="glyphicon glyphicon-pencil green"></span><div class="tip" id="action2">Editar</div>
                  <% end %>
                <% end %>
              </p>
            </td>
          <% end %>
        </tbody>
      <% end %>
    </table>
    <%= will_paginate @solicitudes %>
  </div>
</div>
