<div class="container">
  <div>
    <%= render template: ("siged/menu" + current_usuario.rol.capitalize) %>
  </div>
  
  <% breadcrumb :solicitudes, @solicitud%>
    
  <h2 id="align-title">Solicitud de Proyecto de Residencia</h2>
  <div id="marco">
    <div id="marco">
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Nombre del proyecto: </b><%= @solicitud.nombrep %></div>
          <div class="col-xs-6 col-sm-4"><b>Nombre de la empresa: </b>
              <% @empresa = Empresa.where(:rfcEmpresa => @solicitud.rfc).first %>
              <%= @empresa.nombreE %>
          </div>
          <div class="col-xs-6 col-sm-3"><b>Área: </b><%= @solicitud.area %></div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Fecha de inicio: </b><%= @solicitud.fechaini %></div>
          <div class="col-xs-6 col-sm-4"><b>Fecha de término: </b><%= @solicitud.fechater %></div>
      </div>
    </div>
      </br>
    <div id="marco">
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Asesor externo: </b><%= @solicitud.aexterno %></div>
          <div class="col-xs-6 col-sm-4"><b>Correo: </b><%= @solicitud.correo %></div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Teléfono: </b><%= @solicitud.telefono %></div>
          <div class="col-xs-6 col-sm-4"><b>Extensión: </b><%= @solicitud.extension %></div>
      </div>
    </div>
      </br>

    <div id="marco">
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Número de residentes: </b><%= @solicitud.numresidentes %></div>
          <div class="col-xs-6 col-sm-4"><b>Carrera: </b><%= @solicitud.carrera %></div>
          <div class="col-xs-6 col-sm-3"><b>Semestre: </b><%= @solicitud.semestre %></div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Inglés: </b><%= @solicitud.ingles %></div>
      </div>
    
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Hora de entrada: </b><%= @solicitud.horaentrada %></div>
          <div class="col-xs-6 col-sm-4"><b>Hora de salida: </b><%= @solicitud.horasalida %></div>
      </div>
    </div>
      </br>

    <div id="marco">
      <div class="row">
        <div class="col-xs-6 col-sm-12" align="justify"><b>Descripción del proyecto: </b><%= @solicitud.desproyecto%></div>
      </div>
      </br>

      <div class="row">
          <div class="col-xs-6 col-sm-12" align="justify"><b>Objetivo del proyecto: </b><%= @solicitud.objetivo %></div>
      </div>
      </br>

      <div class="row">
          <div class="col-xs-6 col-sm-12" align="justify"><b>Actividades a desempeñar: </b><%= @solicitud.actividades %></div>
      </div>
    </div>
      </br>

    <div id="marco">
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>PC: </b><%= @solicitud.pc %></div>
          <div class="col-xs-6 col-sm-4"><b>Teléfono de escritorio: </b><%= @solicitud.tel_escritorio %></div>
          <div class="col-xs-6 col-sm-3"><b>Lugar: </b><%= @solicitud.lugar %></div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Beca: </b><%= @solicitud.beca %></div>
      </div>
      </br>

      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Observación: </b><%= @solicitud.observacion %></div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-5"><b>Estado (Aprobado/No aprobado/En revisión): </b><%= @solicitud.estado %></div>
      </div>
    </div>
      </br>

    <div class="row">
      <div class="col-xs-6 col-sm-6" align="right">
      <% if current_usuario.rol == "empresa" %>
          <%= button_to edit_solicitud_path(@solicitud), :method => :get do %><span class="glyphicon glyphicon-pencil green"></span>Observaciones<div class="tip" id="action2">Realizar observaciones</div><% end %>
      <% else %>
          <%= button_to edit_solicitud_path(@solicitud), :method => :get do %><span class="glyphicon glyphicon-pencil green"></span>Observaciones/Aprobar<div class="tip" id="action2">Realizar observaciones/Aprobar</div><% end %>
      <% end %>
      </div>
      <div class="col-xs-6 col-sm-2" align="right">
        <%= button_to solicitud_url(@solicitud, :format => :pdf), :method => :get do %><span class="glyphicon glyphicon-print green"></span>Imprimir<div class="tip" id="action2">Imprimir</div><% end %>
      </div>
    </div>
  </div>
</div>


