
<table class="tg">
  <tr>
    <td style="border-width: 1px;border: solid; border-color: #FFFFFF;"></td>
  </tr>
  <tr>
    <th class="tg-aed3">Nombre del proyecto</th>
    <th class="tg-yw4l" colspan="3"><%= @solicitud.nombrep.capitalize%></th>
  </tr>
  <tr>
    <td class="tg-aed3">Fecha Inicio</td>
    <td class="tg-yw4l"><%= @solicitud.fechaini%></td>
    <td class="tg-aed3">Fecha término</td>
    <td class="tg-yw4l"><%= @solicitud.fechater%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Asesor Externo <br>/Coach del Proyecto</td>
    <td class="tg-yw4l"><%= @solicitud.aexterno%></td>
    <td class="tg-aed3">Num. Telefónico y Extensión</td>
    <td class="tg-yw4l"><%= @solicitud.telefono%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Correo electrónico <br>del Asesor Externo</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.correo%></td>
  </tr>
  <tr>
    <td class="tg-umko"><br></td>
    <td class="tg-yw4l"></td>
    <td class="tg-o32l">Área :</td>
    <td class="tg-yw4l"><%= @solicitud.area%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Número de Residentes:</td>
    <td class="tg-yw4l"><%= @solicitud.numresidentes%></td>
    <td class="tg-o32l">Carrera:</td>
    <td class="tg-yw4l"><%= @solicitud.carrera%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Semestre</td>
    <td class="tg-yw4l"><%= @solicitud.semestre%></td>
    <td class="tg-o32l">Inglés Requerido</td>
    <td class="tg-yw4l"><%= @solicitud.ingles%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Horario de Labores:(Residentes)</td>
    <td class="tg-yw4l" colspan="3"></td>
  </tr>
  <tr>
    <td class="tg-9hbo" colspan="4">Descripción del proyecto</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="4" class="tg-yw4l" style="height: 20px;"><%= @solicitud.desproyecto%></td>
  </tr>
  <tr>
    <td class="tg-9hbo" colspan="4">Objetivo esperado</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="4" class="tg-yw4l" style="height: 20px;"><%= @solicitud.objetivo%></td>
  </tr>
   <tr>
    <td class="tg-9hbo" colspan="4">Actividades a desempeñar</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="4" class="tg-yw4l" style="height: 20px;"><%= @solicitud.actividades%></td>
  </tr>
  <tr>
    <td class="tg-aed3" colspan="4">Recursos:,Anotar (Si /No) En cada recuadro si la Empresa asignará al Alumno los recursos mostrados a continuación, mientras dure su Residencia, en caso de Beca, anotar el monto.Podrá incluir alguna observación extra</td>
  </tr>
  <tr>
    <td class="tg-aed3">Desk top (PC)</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.pc%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Tel. de escritorio</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.tel_escritorio%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Cuenta de correo</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.correo%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Lugar/ Cubiculo</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.lugar%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Beca</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.beca%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Observaciones</td>
    <td class="tg-yw4l" colspan="3"><%= @solicitud.observacion%></td>
  </tr>
  <tr>
    <td class="tg-aed3">Nombre y Firma del Requisitor</td>
    <td class="tg-aed3">SELLO DE LA EMPRESA</td>
    <td class="tg-aed4" colspan="2">RECIBE POR EL ITO</td>
  </tr>
  <tr>
    <td class="tg-9hbo" style="height: 20px;">  
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
     M.C. Marisol Altamirano Cabrera</td>
    <td class="tg-yw4l" style="height: 80px;"></td>
    <td class="tg-yw4l" colspan="2" style="height: 80px;"></td>
  </tr>
</table>

