<div class="container">   
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
    <div id="table-responsive">
        <table class="table table-sm">
            <thead>
                <th class="info"><%= sortable "actividad_id" %></th>
                <th class="info"><%= sortable "asunto" %></th>
                <th class="info"><%= sortable "fechaInicio" %></th>
                <th class="info"><%= sortable "fechaTermino" %></th>
                <th class="info"><%= sortable "docente_id" %></th>
            </thead>>
            <% @visita = Visita.find(params[:id]) %>
                <tbody>
                    <td class="active">
                        <% @actividad = Actividad.find(@visita.actividad_id) %>
                        <%= @actividad.nombreActividad %>
                    </td>
                    <td class="active"><%= @visita.asunto %></td>
                    <td class="active"><%= @actividad.fechaInicio %></td>
                    <td class="active"><%= @actividad.fechaTermino %></td>
                    <td class="active">
                        <% @doc = Docente.find(@actividad.docente_id) %>
                        <%= @doc.nombreD %> <%= @doc.apPaterno %> <%= @doc.apMaterno %>
                    </td>
                    <td class="active">
                        <%= link_to actividad_visita_path(@actividad, @visita) do %>
                            <span class="glyphicon glyphicon-search blue"></span>
                        <% end %>
                    </td>
                </tbody>
        </table>
    </div>
</div>