<div class="container">
   	<% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
	
    <% breadcrumb :actividad, @actividad %>
	
    <br/>
    <h3 id="align-title">Actividades en Dpto. Sistemas y Computación</h3>
    
    <% @acti = CatTipoActividad.find(@actividad.cat_tipo_actividad_id) %> 
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrar(this)" value="datos">Datos Generales</button>
                <button type="button" class="btn btn-default" name="tipo_attach" onclick="mostrar(this)" value="docent">Docentes</button>
                <% if @actividad.tipoEvidencia == 'Equipo' %>
                    <button type="button" name="tipo_attach" class="btn btn-default" onclick="mostrar(this)" value="Equipo">Evidencia por Equipo</button>
                <% elsif @actividad.tipoEvidencia == 'Individual' %>
                    <button type="button" name="tipo_attach" class="btn btn-default" onclick="mostrar(this)" value="individual"> Evidencia Individual </button>
                <% elsif @actividad.tipoEvidencia == 'Individual/Grupo' %>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evidencia
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="individual">Individual</button>
                            <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="Equipo">Equipo</button>
                        </ul>
                    </div>
                <% end %>
                <% if @acti.nombreTipoAct == 'Viaje de Practicas' %>                        
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Generar Archivos
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <% if @actividad.tipoComision == 'Con Viaticos' %>
                                <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="Generar Comision">Oficio de Comisión</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Generar Liquidación" style='display:none;'>Liquidación de viáticos</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Generar informe" style='display:none;'>Informe de comisión personal</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Generar Orden pasaje" style='display:none;'>Orden de servicio para pasajes</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Generar OMVI" style='display:none;'>Oficio de Ministración de Viaticos</button>
                            <% elsif @actividad.tipoComision == 'Sin Viaticos' %>
                                <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="Generar Comision">Oficio de Comisión</button>
                            <% end %>
                        </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Archivos generados
                            <span class="caret"></span>
                        </button>
                         <ul class="dropdown-menu">
                            <% if @actividad.tipoComision == 'Con Viaticos' %>
                                <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="Ver Comision">Oficio de Comisión</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Ver Liquidación" style='display:none;'>Liquidación de viáticos</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Ver informe" style='display:none'>Informe de comisión personal</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Ver Orden pasaje" style='display:none;'>Orden de servicio para pasajes</button>
                                <button type="button" class="btn btn-default boton" name="tipo_attach" onclick="mostrar(this)" value="Ver OMVI" style='display:none;'>Oficio de Ministración de Viaticos</button>
                            <% elsif @actividad.tipoComision == 'Sin Viaticos' %>
                                <button type="button" name="tipo_attach" class="btn btn-default boton" onclick="mostrar(this)" value="Ver Comision">Oficio de Comisión</button>
                             <% end %>
                        </ul>
                    </div>               
                <% end %>
            </div>
        </div>
        <div class="col-xs-6 col-sm-10">
            <div id = datoG style='display:block;'>
                <div id="marco">
                    <h5><b>Datos de la actividad</b></h5>
                    <div class="row">
                        <div class="col-xs-6 col-sm-7"><b>Nombre actividad: </b><%= @actividad.nombreActividad %></div>
                        <div class="col-xs-6 col-sm-5"><b>Tipo actividad: </b><% @acti = CatTipoActividad.find(@actividad.cat_tipo_actividad_id) %><%= @acti.nombreTipoAct %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-7"><b>Duración: </b><%= @actividad.fechaInicio.strftime("%d-%m-%Y") %> / <%= @actividad.fechaTermino.strftime("%d-%m-%Y") %></div>
                        <div class="col-xs-6 col-sm-5"><b>Tipo evidencia: </b><%= @actividad.tipoEvidencia %></div>     
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6"><b>Lugar: </b><%= @actividad.lugar %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6"><b>Tipo comisión: </b><%= @actividad.tipoComision %>
                            <% if @actividad.tipoComision == 'Con Viaticos' %>
                                <p><b>Lista de viáticos: </b><%= @actividad.cat_viaticos.map(&:nombreViatico).to_sentence %></p>
                            <% end %></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-12" align="justify"><b>Descripción: </b><%= @actividad.descripcion %></div>
                    </div>
                
                    <div class=row>                        
                        <div class="col-xs-6 col-sm-12" align="right">                        
                            <% if can? :update, @actividad %>
                            <%= link_to edit_actividad_visita_path(@actividad, @visita),:title => "Itinerario", :method => :get do %>
                                <span class="glyphicon glyphicon-briefcase brown"></span>                                
                            <% end %>
                            <%= link_to edit_actividad_path(@actividad), :method => :get, :title => "Editar" do %><span class="glyphicon glyphicon-pencil green"></span><div class="tip" id="action2">Editar</div><% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div id = doc style='display:none;'>
                <%= render "actividad_docentes/listDoc" %>
                <%= render "viaje_grupos/form" %>
                <%= render "viaje_grupos/list" %>
            </div>
            <div id = Eequipo style='display:none;'>
                <%= render 'actividad_evidencias/list' %>
            </div>
            <div id = Eindividual style='display:none;'>
                <%= render 'actividades/listActDoc' %>
            </div>
            <!--                  DIPLOMADO                      -->
            <div id = modulo style='display:none;'>
                <%= render "modulo_diplomados/form" %>
            </div>
            <div id = Vmodulo style='display:none;'>
                <%= render 'modulo_diplomados/list' %>
            </div>
            <div id = omvi style='display:none;'>                
            </div>
            <div id = VerOmvi style='display:none;'>                
            </div>
            <div id = comision style='display:none;'>
                <%= render "visitas/pdfComision" %>
            </div>
            <div id = comisionver style='display:none;'>
                <%= render "visitas/formVerComision" %>
            </div>
            <div id = comisionsv style='display:none;'>
                <%= render "actividades/diplomado/formComision" %>
            </div>
            <div id = pasaje style='display:none;'>
                <%= render "actividades/diplomado/formPasaje" %>
            </div>
            <div id = VerPasaje style='display:none;'>
                <%= render "visitas/formVerPasaje" %>
            </div>
            <div id = liquidacion style='display:none;'>
                <%= render "actividades/diplomado/formLiquidacion" %>
            </div>
            <div id = VerLiquidacion style='display:none;'>
                <%= render "visitas/formVerLiquidacion" %>
            </div>
            <div id = informe style='display:none;'>
                <%= render "actividades/diplomado/formInforme" %>
            </div>
            <div id = VerInforme style='display:none;'>
                <%= render "visitas/formVerInforme" %>
            </div>
            <!--             ACTIVIDADES EN GENERAL                -->
            <div id = comisionAct style="display:none;">
                <%= render "actividades/archivoAct/formComisionAct" %>
            </div>
            <div id = verComisionAct style="display:none;">                
            </div>
            <div id = informeComision style="display:none;">
                <%= render "actividades/archivoAct/formInformeComision" %>
            </div>
            <div id = verInformeComision style="display:none;">               
            </div>
            <div id = liquidacionAct style="display:none;">
                <%= render "actividades/archivoAct/formLiquidacionAct" %>
            </div>
            <div id = verLiquidacionAct style="display:none;">               
            </div>
            <div id = omviAct style="display:none;">
                <%= render "actividades/archivoAct/formOMVIAct" %>
            </div>
            <div id = verOmviAct style="display:none;">                
            </div>
            <div id = pasajeAct style="display:none;">
                <%= render "actividades/archivoAct/formPasajeAct" %>
            </div>
            <div id = verPasajeAct style="display:none;">
                <%= render "visitas/formVerPasajeAct" %>
            </div>
        </div>
    </div>
</div>