<div class="container">    
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'estudiante' %>
        <%= render template: "siged/menuEstudiante" %>
    <% end %>
    <% breadcrumb :estudiantes%>
 
 
    <h3 id="align-title">Dar de baja</h3>
    <%# form_for :product, :url => update_multiple_products_path, :html => { :method => :put } do |f| %>

    <%#= form_for :estudiante, url: edita_multiple_estudiantes_path, html:{method: :put} do |f| %>

    <%= form_for @estudiantes  do |f| %>
    <div class="container row">
     <div class="col-xs-6 col-sm-2">
       <%= f.label "Cambiar estado a:"%> 
        </div>
      <div class="col-md-5">
        <div class="col-md-7">
                    <%= f.select :estado, options_for_select([["Egresado", "EGR"], ["Activo", "ACT"],
                    ["Baja Temporal", "BT"],["Baja Definitiva", "BD"]]),{},class:"form-control", :include_blank => true %>
          </div>
          <div class="col-md-1">
           <%= button_tag(type: 'submit', class: "btn btn-default", title: "Guardar estado") do %>
                        <span class="glyphicon glyphicon-saved"></span>
                    <% end %>
              
             </div>
   
    </div>
    </div>

    <div id="table-responsive">
   
        <table class="table table-sm">
            <thead>
                <th class="info"></th>
                <th class="info"><%= sortable "numControl" %></th>
                <th class="info"><%= sortable "curpEstudiante" %></th>
                <th class="info"><%= sortable "nombre" %></th> 
                <th class="info"><%= sortable "Estado" %></th></th>          
            </thead>
             <% for estudiante in @estudiantes %>
                <tbody>
                <td class="active"><%= hidden_field_tag "estudiantes_ids[]", estudiante.id%></td>
                    <td class="active"><%= estudiante.numControl %> </td>
                    <td class="active"><%= estudiante.curpEstudiante %></td>
                    <td class="active"><%= estudiante.nombre %> <%= estudiante.apPaterno%> <%= estudiante.apMaterno%></td>
                    <td class="active">
                    <% if estudiante.estado !=nil%>
                    <% if estudiante.estado == "EGR" %>
                        Egresado
                      <% elsif estudiante.estado == "ACT"%>
                          Activo
                          <% elsif estudiante.estado == "BT"%>
                            Baja Temporal
                              <%elsif estudiante.estado =="BD"%>
                      <% end %>
                      <% end%>
                                
                      </td>
                </tbody>
            <% end %>
        </table>

    </div>
 <%end%>
</div>