<p id="notice"><%= notice %></p>

<p>
  <strong>Act dedica:</strong>
  <%= @ubicacion_laboral.act_dedica %>
</p>

<p>
  <strong>Estudia:</strong>
  <%= @ubicacion_laboral.estudia %>
</p>

<p>
  <strong>Especialidad institucion:</strong>
  <%= @ubicacion_laboral.especialidad_institucion %>
</p>

<p>
  <strong>Tiempo empleo:</strong>
  <%= @ubicacion_laboral.tiempo_empleo %>
</p>

<p>
  <strong>Medio empleo:</strong>
  <%= @ubicacion_laboral.medio_empleo %>
</p>

<p>
  <strong>Requisitos contratacion:</strong>
  <%= @ubicacion_laboral.requisitos_contratacion %>
</p>

<p>
  <strong>Idioma trabajo:</strong>
  <%= @ubicacion_laboral.idioma_trabajo %>
</p>

<p>
  <strong>Hablar idioma:</strong>
  <%= @ubicacion_laboral.hablar_idioma %>
</p>

<p>
  <strong>Escribir idioma:</strong>
  <%= @ubicacion_laboral.escribir_idioma %>
</p>

<p>
  <strong>Leer idioma:</strong>
  <%= @ubicacion_laboral.leer_idioma %>
</p>

<p>
  <strong>Escuchar idioma:</strong>
  <%= @ubicacion_laboral.escuchar_idioma %>
</p>

<p>
  <strong>Anti empleo:</strong>
  <%= @ubicacion_laboral.anti_empleo %>
</p>

<p>
  <strong>Ano ingreso:</strong>
  <%= @ubicacion_laboral.ano_ingreso %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @ubicacion_laboral.ingreso %>
</p>

<p>
  <strong>Nivel jerarquico:</strong>
  <%= @ubicacion_laboral.nivel_jerarquico %>
</p>

<p>
  <strong>Condicion:</strong>
  <%= @ubicacion_laboral.condicion %>
</p>

<p>
  <strong>Relacion:</strong>
  <%= @ubicacion_laboral.relacion %>
</p>

<p>
  <strong>Organismo:</strong>
  <%= @ubicacion_laboral.organismo %>
</p>

<p>
  <strong>Giro:</strong>
  <%= @ubicacion_laboral.giro %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @ubicacion_laboral.razon_social %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @ubicacion_laboral.domicilio %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @ubicacion_laboral.ciudad %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @ubicacion_laboral.municipio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ubicacion_laboral.estado %>
</p>

<p>
  <strong>Telefno:</strong>
  <%= @ubicacion_laboral.telefno %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @ubicacion_laboral.ext %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @ubicacion_laboral.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ubicacion_laboral.email %>
</p>

<p>
  <strong>Pagina web:</strong>
  <%= @ubicacion_laboral.pagina_web %>
</p>

<p>
  <strong>Sector primario:</strong>
  <%= @ubicacion_laboral.sector_primario %>
</p>

<p>
  <strong>Sector secundario:</strong>
  <%= @ubicacion_laboral.sector_secundario %>
</p>

<p>
  <strong>Sector terciario:</strong>
  <%= @ubicacion_laboral.sector_terciario %>
</p>

<p>
  <strong>Tam empresa:</strong>
  <%= @ubicacion_laboral.tam_empresa %>
</p>

<%= link_to 'Edit', edit_ubicacion_laboral_path(@ubicacion_laboral) %> |
<%= link_to 'Back', ubicacion_laborales_path %>
