<div class="container">


<%= form_for(@perfil_egresado) do |f| %>
  <% if @perfil_egresado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perfil_egresado.errors.count, "error") %> prohibited this perfil_egresado from being saved:</h2>

      <ul>
      <% @perfil_egresado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div id="marco">
 <div class="container">
 <div class="row">
  <span class="label label-warning" style="font-size: 20px; color: #000" >I. Perfil Egresado</span>
  </div>
  <p class="text-danger">*Campos obligatorios</p>
 
  <div class="row">
  <div class="col-xs-5 col-sm-4">*<%= f.label "Nombre del Egresado: "%><%= f.text_field :nombre %></div>
  <div class="col-xs-6 col-sm-3"><%= f.label "Numero Control" %><%= f.number_field :fk_numControl %>
  </div>
  <div class="col-xs-6 col-sm-3"><%= f.label "Fecha de nacimiento:" %><%= f.date_field :fecha_nac %>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-sm-4"><%= f.label "CURP: " %><br>
  <%= f.text_field :curp %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Sexo: " %><br>
  <%= f.text_field :sexo %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Estado civil" %><br>
  <%= f.text_field :edo_civil %>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-5 col-sm-4"><%= f.label "Dirección" %>:<br>
  <%= f.text_field :direccion %></div>
 <div class="col-xs-5 col-sm-4"><%= f.label "Telefono" %>:<br>
  <%= f.number_field :telefon %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "E-mail" %>:<br>
  <%= f.text_field :email %> </div>
  </div>
  <div class="row">
  <div class="col-xs-5 col-sm-4"><%= f.label "Especialidad"%>:<br>
  <%= f.text_field :egresado_especialidad %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Fecha de egreso" %>:<br>
  <%= f.text_field :fecha_egresado %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Titulo" %>:<br>
    <%= f.text_field :titulo %></div>
  </div>
  <div class="row">
  <div class="col-xs-5 col-sm-4"><%= f.label "Dominio de ingles" %>:<br>
  <%= f.number_field :dominio_ingles %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Otro idioma" %>:<br>
    <%= f.number_field :idioma_otro %></div>
  <div class="col-xs-5 col-sm-4"><%= f.label "Manejo de Software" %>:<br>
    <%= f.text_field :m_software %></div>
  </div>
  <div class="actions">
     <%= f.submit :Siguiente, :class => 'btn btn-success'%>
  </div>
<% end %>
 </div>
</div>
</div>
</div>