<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @perfil_egresado.nombre %>
</p>

<p>
  <strong>Fk numcontrol:</strong>
  <%= @perfil_egresado.fk_numControl %>
</p>

<p>
  <strong>Fecha nac:</strong>
  <%= @perfil_egresado.fecha_nac %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @perfil_egresado.curp %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @perfil_egresado.sexo %>
</p>

<p>
  <strong>Edo civil:</strong>
  <%= @perfil_egresado.edo_civil %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @perfil_egresado.direccion %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @perfil_egresado.telefon %>
</p>

<p>
  <strong>Email:</strong>
  <%= @perfil_egresado.email %>
</p>

<p>
  <strong>Egresado especialidad:</strong>
  <%= @perfil_egresado.egresado_especialidad %>
</p>

<p>
  <strong>Fecha egresado:</strong>
  <%= @perfil_egresado.fecha_egresado %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @perfil_egresado.titulo %>
</p>

<p>
  <strong>Dominio ingles:</strong>
  <%= @perfil_egresado.dominio_ingles %>
</p>

<p>
  <strong>Idioma otro:</strong>
  <%= @perfil_egresado.idioma_otro %>
</p>

<p>
  <strong>M software:</strong>
  <%= @perfil_egresado.m_software %>
</p>

<%= link_to 'Edit', edit_perfil_egresado_path(@perfil_egresado) %> |
<%= link_to 'Back', perfil_egresados_path %>
