<div class="container">
    
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
    <% breadcrumb :empresa, @empresa%>

    <h3 id="align-title">Empresa </h3>
    
    <div id="marco">
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>RFC: </b><%= @empresa.rfcEmpresa %></div>
            <div class="col-xs-6 col-sm-4"><b>Nombre de la empresa: </b><%= @empresa.nombreE %></div>
            <div class="col-xs-6 col-sm-4"><b>Convenio: </b><%= link_to "Ver Convenio", @empresa.pdfConvenio_url, :target => '_blank' %></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>Contacto: </b><%= @empresa.contacto %></div>
            <div class="col-xs-6 col-sm-4"><b>Correo electrónico: </b><%= @empresa.email %></div>
            <div class="col-xs-6 col-sm-4"><b>Telefóno: </b><%= @empresa.telefono %></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>Estado: </b><%= @empresa.estado %></div>
            <div class="col-xs-6 col-sm-4"><b>Colonia: </b> <%= @empresa.colonia %></div>
            <div class="col-xs-6 col-sm-4"><b>Calle: </b><%= @empresa.calle %></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-4"><b>Número interior: </b><%= @empresa.numInterior %></div>
            <div class="col-xs-6 col-sm-4"><b>Número exterior: </b><%= @empresa.numExterior%></div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-12" align="right">
                <%= link_to edit_empresa_path(@empresa), :method => :get do %><span class="glyphicon glyphicon-pencil green"></span><div class="tip" id="action2">Editar</div><% end %>
            </div>
        </div>
    </div>
    <% if @servicios != nil %>
        <div class="marco">
        <div class="row">  
        <h3>Estudiantes con servicio social en el periodo <%=params[:periodo]%><%= params[:anio]%></h3>
    <table class="table" id="archivos">
        <thead>
            <tr>                           
                <th class="info">Num. Control</th> 
                <th class="info">Prestador de Servicio</th>
                <th class="info">Promedio 1° Bimestre</th>
                <th class="info">Promedio 2° Bimestre</th>
                <th class="info">Promedio 3° Bimestre</th>
                <th class="info">Promedio Final</th> 
                <th class="info">Desempeño</th>
            </tr>
        </thead>        
       <% @servicios.each do |s| %> 

            <tbody>
                <td class="active"><%= s.estudiante.numControl%> </td>
                <%# a = ServicioSocial.where(id_servicio_social:)%>
                <td class="active"><%=s.estudiante.nombre%> <%=s.estudiante.apPaterno%> <%=s.estudiante.apMaterno%></td>  
               
                
                  <% x = EvaluacionServicio.where(id_servicio_social: s.id) %>
                <% @q = [0,0,0] %>
                 <%# criterios%>
                <% contadorR = 0 %> <%# contador bimestres%>
                <% x.each do |y| %>
                <% @contador = 0 %>
                  <% a = y.criterio_evaluacion_servicios%>
                  <% if a != [] %>
                    <% if contadorR < 3 %>
                        <% a.each do |b| %>
                            <% @q[contadorR] = @q[contadorR]+ b.calificacion_criterio %>
                            <% @contador = @contador+1 %>                            
                        <% end %>                        
                      <% @q[contadorR] = @q[contadorR].to_f/@contador.to_f %> 
                      <% contadorR = contadorR+1 %>
                    <% end %>
                  <% else %>
                    <% @q = [0,0,0] %>                    
                  <% end %>
                    <%#binding.pry%>
                <% end %>
                <td class="active">
                    <% if @q[0]!=0%>
                    <%= (@q[0]).round(2)%>
                    <%else%>
                    No existe Registro
                    <%end %>
                </td>
                <td class="active"> 
                    <% if @q[1]!=0%>
                    <%= (@q[1]).round(2)%>
                    <%else%>
                    No existe Registro
                    <%end %>
                </td>
                <td class="active">
                    <% if @q[2]!=0%>
                    <%= (@q[2]).round(2)%>
                    <%else%>
                    No existe Registro
                    <%end %>
                </td>            
                <td class="active">
                  <% promedio = ((@q[0]+@q[1]+@q[2])/3).round(2) %>
                  <% if promedio !=0%>
                  <%=promedio%>
                  <%else%>
                  No existe Registro
                  <% end %>
                </td>
                 
                  <% a=  Tablapromedio.where('valor_min <= ? and valor_max >= ?', promedio, promedio)%>
                
                <%# sería algo así creo%>                                
                <td class="active">
                    <% if a[0].nivel_desem !='Insuficiente'%>
                        Competencia alcanzada
                     <%else %>
                        Competencia <STRONG>NO</STRONG> alcanzada
                     <% end%>
                 </td>
            </tbody>
            <% end %>
        </table>
    
        <!--<h2>Estudiantes con servicio social en el periodo <#%=params[:periodo]%><#%= params[:anio]%></h2>
            <%# @servicios.each do |s| %>
                <%#= s.estudiante.numControl%> <%#=s.estudiante.nombre%> <%#=s.estudiante.apPaterno%> <%#=s.estudiante.apMaterno%>
                <br>-->
            <%# end %>
        </div>
    <% end %>
</div>