<div id="table-responsive">
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    
    <table class="table table-sm">
        <thead>
            <th class="info"><%= sortable "nombreActividad" %></th>
            <th class="info"><%= sortable "cat_tipo_actividad_id" %></th>
            <th class="info" style="width: 25%;">Periodo</th>
            <th class="info">Lugar</th>
        </thead>
        <% @actividades.each do |act| %>
                <tbody>
                    <td class="active"><%= act.nombreActividad %></td>
                    <td class="active">
                        <% @acti = CatTipoActividad.find(act.cat_tipo_actividad_id) %>
                        <%= @acti.nombreTipoAct %>
                    </td>
                    <td class="active" style="width: 25%;"><p><%= act.fechaInicio.strftime("%d-%m-%Y") %> / <%= act.fechaTermino.strftime("%d-%m-%Y") %></p></td>
                    <td class="active"><%= act.lugar %></td>
                    <td class="active">
                        <% if @acti.nombreTipoAct == 'Viaje de Practicas' %>
                            <% @visita = Visita.find_by(actividad_id: act.id) %>
                            <%= link_to actividad_visita_path(act, @visita), :title => "Ver" do %>
                                <span class="glyphicon glyphicon-eye-open blue"></span>                                
                            <% end %>
                        
                        <% else%>
                            <%= link_to actividad_path(act), :title => "Ver" do %>
                                <span class="glyphicon glyphicon-eye-open blue"></span>                                
                            <% end %>
                        <% end %>

                        <% if can? :update, act %>
                            <% @actiDoc = ActividadDocente.find_by(actividad_id: act.id) %>
                            <% if @actiDoc != nil %> 
                                <% @evi = ActIndividualDocente.find_by(actividad_docente_id: @actiDoc.id) %>
                                <% if @evi != nil %>
                                <% else %>
                                    <%= link_to edit_actividad_path(act), :title => "Editar" do%> <span class="glyphicon glyphicon-pencil green"></span> <% end %>
                                <% end %>
                            <% else %>
                            <% end %>
                        <% end %>
                        <% if can? :delete, act %>
                            <% @actiDoc = ActividadDocente.find_by(actividad_id: act.id) %>
                            <% if @actiDoc != nil %> 
                                <% @evi = ActIndividualDocente.find_by(actividad_docente_id: @actiDoc.id) %>
                                <% if @evi != nil %>
                                <% else %>
                                    <%= link_to act, :method => :delete, data: { confirm: 'Seguro que desea eliminar esta actividad?' }, :title => "Eliminar" do %>
                                    <span class="glyphicon glyphicon-trash red"></span>
                                    <%end%>
                                <% end %>
                            <% else %>
                            <% end %>
                        <% end %>
                    </td>
                </tbody>
        <% end %>
    </table>
</div>
<%= will_paginate @actividades %>