<div id="table-responsive">
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    
    <table class="table table-sm" id="tabletocsv">
        <thead>
			<tr>
				<th class="info">Nombre actividad</th>
				<th class="info">Tipo actividad</th>
				<th class="info">Periodo</th>
				<th class="info">Lugar</th>
			</tr>
        </thead>
		<tbody>
			<% @actividad_investigaciones.each do |act| %>
				<tr>
					<td class="active"><%= act.nombreActividad %></td>
					<td class="active">
						<% @acti = CatTipoActividad.find(act.cat_tipo_actividad_id) %>
						<%= @acti.nombreTipoAct %>
					</td>
					<td class="active"><%= act.fechaInicio.strftime("%d-%m-%Y") %> / <%= act.fechaTermino.strftime("%d-%m-%Y") %></td>
					<td class="active"><%= act.lugar %></td>
					<td class="active" id="no_column">
						<%= link_to actividad_path(act.id), :title => "Ver" do %>
							<span class="glyphicon glyphicon-eye-open blue" title="Ver"></span>
						<% end %>                       
					</td>
				</tr>
			<% end %>
		</tbody>
    </table>
</div>
<%= will_paginate @actividad_investigaciones %>