<div class="container">
    
    <% if current_usuario.rol == 'admin' %>
        <%= render template: "siged/menuAdmin" %>
    <% elsif current_usuario.rol == 'docente' %>
        <%= render template: "siged/menuDocente" %>
    <% end %>
    <h3>Evidencia de la materia <%= @periodo.cat_materia.nombreMat%> grupo <%= @periodo.nombreGrupo %></h3>
    <div id="marco">
        <%= nested_form_for @archivo, validate: true do |archivo| %> 
            <div class="row">
                <div class="col-md-4">                                
                    <%= archivo.label :Carrera %>
                    <%= archivo.select :carrera, options_for_select([["Ing. en Sistemas C.", "ISC"], ["Ing. Mecánica", "IM"], ["Ing. Química", "IQ"], ["Ing. Industrial", "II"], ["Ing. Eléctrica ", "IE"], ["Ing. Civil", "IC"], ["Ing. en Gestión Emp,", "IG"], ["Ing. Electrónica", "IET"], ["Lic. en Admon.", "LA"]]),{}, :class => 'form-control', validate: true %>

                    <%= archivo.hidden_field :periodo_curs_materia_id, :value => @periodo.periodo_curs_materia_id %>
                    <%= archivo.hidden_field :curso_materia_id, value: @periodo.id%>
                </div>
                <div class="col-md-6"> 
                <%= archivo.label :Total %>
                <%= @periodo.total %>

                </div>            
            </div>
            <div class="row">
                <div class="col-md-4"> 
                    <%= archivo.label :Aprobados_en_ordinario %>
                    <%= archivo.number_field :ordinaria, class: "form-control", validate: true %>
                </div>
                <div class="col-md-4"> 
                    <%= archivo.label :Aprobados_en_complementaria %>
                    <%= archivo.number_field :complementaria, class: "form-control", validate: true %>
                </div>                        
                <div class="col-md-4">
                    <%= archivo.label :Aprobados_en_especial %>
                    <%= archivo.number_field :especial, class: "form-control", validate: true %> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= archivo.label :Desertores %>
                    <%= archivo.number_field :desertores, class: 'form-control', validate: true %> 
                    
                </div>                        
                <div class="col-md-4">
                    <%= archivo.label :Reprobados %>
                    <%= archivo.number_field :reprobados, class: "form-control", validate: true %> 
                </div>                
            </div>
            <div class="row" id="btn-cancelar">
                <div class="col-xs-6 col-md-4" id="btn">
                    <%= archivo.submit :Guardar, :class => 'btn btn-success' %>
                </div>   
            <% end %>
                <div class="col-xs-6 col-md-4">
                    <%= button_to "Cancelar", periodo_curs_materias_path, :class => 'btn btn-warning', :method => :get %>
                </div>
            </div>
            </div>
</div>