<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-10">
            <div id="marcoTitle"><h4 id="align-title">Oficio de Comision/Orden de ministracion de viaticos </h4></div>
            <% @ad = ActividadDocente.where(actividad_id: @actividad.id) %>
            <% for acd in @ad %>
                <% s = existe(@actividad.id, acd.docente_id) %>
                <% if s == true %>
                    <div id="marco">
                        <h5><b>Datos del documento: </b></h5>
                        <% @j = Oficio.find_by(actividad_id: @actividad.id, docente: acd.docente_id) %>
                        <%= form_tag(orden_ministracion_viaticos_actividad_path, method: 'get') do %>
                            <%= hidden_field_tag :format, "pdf" %>
                            <div class="row">
                                <% d = Docente.find(acd.docente_id) %>
                                <div class="col-xs-6 col-sm-3"><b>Docente: </b> <%= d.nombreD %> <%= d.apPaterno %> <%= d.apMaterno %> <%= hidden_field_tag :docente, acd.docente_id %></div>
                                <div class="col-xs-6 col-sm-3"><b>No. oficio: </b><%= @j.numero %> </div>
                                <% f = @j.fecha.day.to_s + '/' + @j.fecha.month.to_s + "/" + @j.fecha.year.to_s %>
                                <div class="col-xs-6 col-sm-3"><b>Fecha: </b><%= text_field_tag "fecha",f, 'data-behaviour'=> 'datepicker' %></div>
                                <div class="col-xs-6 col-sm-3"><b>Cuota: </b><%= text_field_tag "cuota", @j.cuota %></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-2"><b>Nacionales: </b><%= select_tag "nacionall", options_for_select([["Si", "true"],["No","false"]], @j.nacionall)%></div>
                                <div class="col-xs-6 col-sm-3"><b>Tipo de pago: </b><%= select_tag "tipoAnDe", options_for_select([["Anticipados", "Anticipados"],["Devengados","Devengados"]], @j.tipoAnDe)%></div>
                                <div class="col-xs-6 col-sm-3"><b>Nivel de aplicación: </b><%= select_tag "nivelAp", options_for_select([["Ninguno", " "], ["A", "A"],["B","B"], ["C", "C"]], @j.nivelAp)%></div>
                                <div class="col-xs-6 col-sm-4"><b>Tipo zona: </b><%= select_tag "tipoZona", options_for_select([["Ninguno", " "], ["Zona más económica", "Zona más económica"],["Zona menos económica","Zona menos económica"]], @j.tipoZona)%></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-9"><b>Motivo de la comisión: </b><%= text_field_tag "motivo", @j.motivo %></div>
                                <div class="col-xs-6 col-sm-3"><%= submit_tag "Generar ", :formtarget => '_blank', class: 'btn btn-success'%></div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>