<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div id="marcoTitle"><h4 id="align-title">Generar Informe de Comisión </h4></div>
            <% @ad = ActividadDocente.where(actividad_id: @actividad.id) %>
            <% for acd in @ad %>
                <% s = existe(@actividad.id, acd.docente_id) %>
                <% if s == true %>
                <% else %>
                <div id="marco">
                    <h5><b>Datos del documento: </b></h5>
                    <%= form_tag(informe_comisiones_actividad_path, method: 'get') do %>
                        <% @arre = serie %>
                        <%= hidden_field_tag :format, "pdf"%>  
                        <div class="row">
                            <div class="col-md-3"><b>No. oficio </b><%= select_tag "numero", options_for_select(@arre, "xD"), class: "form-control" %></div>
                            <% fp = @actividad.fechaTermino %><% fpos = fp.strftime('%Y')+'-'+ fp.strftime('%m')+ '-' + fp.strftime('%d') %>
                            <div class="col-md-4"><b>Fecha posterior: </b><%= date_field_tag "fechaPosterior", fpos, class: 'form-control' %></div>
                            <div class="col-md-5"><b>Cargo</b>
                                <% @p = Puesto.find_by(docente_id: @idoc) %>
                                <% if @p != nil %>
                                    <% @a = CatTipoPuesto. find(@p.cat_tipo_puesto_id).nombrePuesto%>
                                    <%= select_tag :puesto, options_for_select([["DOCENTE", "DOCENTE"],[@a.upcase, @a.upcase]], "DOCENTE"), class: "form-control" %>
                                <% else %>
                                    <%= select_tag :puesto, options_for_select([["DOCENTE", "DOCENTE"]], "DOCENTE"), class: "form-control" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <% fec = Time.now
                            f = fec.strftime("%Y")+ "-" + fec.strftime("%m") + "-" + fec.strftime("%d")
                            %>
                            <div class="col-md-4"><b>Fecha</b><%= date_field_tag "fecha", f , class: "form-control" %></div>
                            <div class="col-md-3"><b>Nacionales</b><%= select_tag "nacionall", options_for_select([["Si", "true"],["No","false"]]), class: "form-control" %></div>
                            <div class="col-md-5"><b>Ciudad-Estado/Ciudad-Pais</b><%= text_field_tag "zona", nil, class: "form-control" %></div>
                        </div>
                        <div class="row">
                            <% d = Docente.find(acd.docente_id) %>
                            <div class="col-md-4"><b>Docente</b> <%= d.nombreD %> <%= d.apPaterno %> <%= d.apMaterno %> <%= hidden_field_tag :docente, acd.docente_id %></div>
                            <div class="col-md-5"><b>Importe de viaticos</b><%= text_field_tag "importeViat", nil, class: "form-control" %></div>
                            <div class="col-md-3"><br><%= submit_tag "Generar", :formtarget => '_blank', class: 'btn btn-success' %></div>
                        </div>
                    <% end %>
                </div>
                <% end %>
            <% end %>   
        </div>
    </div>
</div>