<p id="notice"><%= notice %></p>

<p>
  <strong>Id evalucacion:</strong>
  <%= @criterio_evaluacion_servicio.id_evalucacion %>
</p>

<p>
  <strong>Id cat criterio eva:</strong>
  <%= @criterio_evaluacion_servicio.id_cat_criterio_eva %>
</p>

<p>
  <strong>Calificacion criterio:</strong>
  <%= @criterio_evaluacion_servicio.calificacion_criterio %>
</p>

<%= link_to 'Edit', edit_criterio_evaluacion_servicio_path(@criterio_evaluacion_servicio) %> |
<%= link_to 'Back', criterio_evaluacion_servicios_path %>
