<p id="notice"><%= notice %></p>

<p>
  <strong>Criterio eval:</strong>
  <%= @cat_criterio_eval_residencia.criterio_eval %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cat_criterio_eval_residencia.valor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cat_criterio_eval_residencia.status %>
</p>

<%= link_to 'Edit', edit_cat_criterio_eval_residencia_path(@cat_criterio_eval_residencia) %> |
<%= link_to 'Back', cat_criterio_eval_residencias_path %>
